---
---

<section class="px-[20%]">
    <div>
    <h2 class="title-h2">Présentation générale</h2>
    <p class="paragraph">
      Présentation générale.
    </p>
    <h2 class="title-h2">Mes valeurs</h2>
    <h2 class="title-h2">Mes qualités humaines</h2>
    <h2 class="title-h2">Mes centres d’intérêts</h2>
    <h2 class="title-h2">Projets professionnels et personnels</h2>
  </div>
</section>