---

---

<section class="flex flex-col items-center">
  <div class="max-w-[80%]">
    <h2 class="title-h2">Présentation générale</h2>
    <p class="paragraph">
      <b>Passionné</b> par le <b>développement logiciel</b>, J'aime résoudre des
      problèmes, simple ou complexe, et trouver des <b>solutions efficaces</b> afin
      de <b>simplifier la vie des utilisateurs</b>. De nature très <b
        >curieuse</b
      >, j'aime découvrir de nouvelles technologies et de nouveaux outils, et je
      suis toujours à la recherche de nouvelles opportunités pour <b
        >apprendre</b
      > et <b>grandir</b> en tant que développeur.
    </p>
    <p class="paragraph">
      Se que <b>j'affectionne</b> le plus dans le développement logiciel, c'est la
      possibilité de créer des outils pour <b
        >faciliter la vie des utilisateurs</b
      >, que ce soit pour les <b>aider</b> à accomplir des tâches plus <b
        >rapidement</b
      >, ou pour leur permettre de faire des choses qu'ils ne pouvaient pas
      faire auparavant. <b>Ma vision de l'informatique</b> est qu'elle doit être <b
        >au service de l'humain</b
      >. C'est afin de répondre à cette vision que je réalise un <b
        >mastère en ingénierie logicielle</b
      > et que je fais beaucoup de <b>projets personnels</b>.
    </p>

    <h2 class="title-h2">Mes valeurs</h2>
    <p class="paragraph">
      En accord avec une vision de l'informatique au service de l'humain, les
      valeurs portées par la communauté open source me touche particulièrement.
      Ses valeurs sont : <b>l'entraide</b>, <b>le partage</b> et <b
        >le respect</b
      >. Ces trois valeurs fondent les pilliers sur lesquels repose d'autres
      valeurs essentielles, dont la <b>bienveillance</b>, la <b>curiosité</b> et la
      <b>rigueur</b>.
    </p>

    <p class="paragraph">
      L'entraide occupe une place centrale dans mon parcours. C'est grâce à elle
      que la progression a été possible lors de la découverte du développement.
      C'est également grâce à cette entraide que j'ai pu comprendre des concepts
      complexes, surmonter des obstacles techniques et avancer malgré les
      difficultés. Le partage en est le prolongement naturel de l'entraide, il
      permet de mettre ses connaissances à disposition, contribuer à des projets
      communs, rendre ses outils accessibles. C'est dans cet esprit que j'ai
      créée <a href="https://documentation.florobart.fr/"
        ><b><u>ma documentation</u></b></a
      > en ligne, accessible à toutes et tous librement et gratuitement. J'ai également
      mis en pratique cette entraide lors de mes projets scolaires en tant que chef
      de projet, notamment lors du projet de <a
        href="https://github.com/FloRobart/Maison_eau_dor"
        ><b><u>site Web de Maison Eau d'Or</u></b></a
      >, où nous avons <b>partagé nos connaissances</b> avec l'équipe pour que tous
      les membres puissent progresser ensemble et profiter de l'expérience des autres.
    </p>

    <p class="paragraph">
      Ces deux valeurs ne peuvent cependant exister sans le <b>respect</b>,
      valeur obligatoire de toute collaboration saine. Qu'il s'agisse des
      membres d'une équipe, des utilisateurs finaux ou des contributeurs open
      source, le respect garantit un environnement où chacun se sent écouté et
      valorisé. La <b>bienveillance</b> vient naturellement compléter le respect.
      là où le respect pose le cadre, la bienveillance crée la dynamique, elle favorise
      la confiance, renforce les liens et permet à une équipe de véritablement progresser
      ensemble. C'est en appliquant ces valeurs que nous avons pu réaliser des projets
      en équipe de 2 à 6 comme <a
        href="https://github.com/FloRobart/Jeu_aventurier_du_rail"
        ><b><u>le jeu 'Les aventuriers du rail'</u></b></a
      > et <a href="https://github.com/FloRobart/Graphe_concepteur-resolveur"
        ><b><u>l'interface graphique de résolution de graphes</u></b></a
      >, dans une bonne ambiance et en veillant à ce que chaque membre se sente
      valorisé et entendu.
    </p>

    <p class="paragraph">
      La <b>curiosité</b> est bien plus qu'une qualité professionnelle, c'est une
      disposition d'esprit fondamentale. Elle pousse à explorer, à questionner, à
      remettre en cause ses acquis et à s'ouvrir à de nouvelles perspectives. En ingénierie
      logicielle, domaine en constante évolution, elle est indispensable pour continuer
      à apprendre et à grandir. C'est elle qui, associée à la <b>rigueur</b>,
      permet de produire un travail dont on peut être fier : un code propre,
      bien structuré, maintenable, et un logiciel mis en production uniquement
      lorsqu'il est pleinement satisfaisant. Tant sur le plan fonctionnel que
      sur celui de la sécurité. La rigueur est au cœur de mes nouveaux projets
      comme <a href="https://github.com/FloRobart/FlorAccess_server"
        ><b><u>Mon API d'authentification FlorAccess</u></b></a
      >, où la <b>sécurité du chiffrement</b> n'admet aucun compromis, et <a
        href="/projets/econoris"
        ><b><u>mon gestionnaire de finance Econoris</u></b></a
      >, où <b>l'intégrité des données financières</b> est capitale. De plus ses deux
      projets sont largement voué à évoluer, ce qui rend la rigueur dans la conception
      et l'architecture du code d'autant plus importante pour garantir une bonne maintenabilité
      et évolutivité.
    </p>

    <p class="paragraph">
      Ces valeurs me guident au quotidien et façonnent ma manière d’aborder
      chaque projet. Elles se reflètent naturellement dans la façon dont je
      conçois <a href="/projets"><b><u>mes réalisations</u></b></a>, avec
      l’envie constante d’apporter quelque chose d’utile et de pertinent.
    </p>
    <p class="paragraph">
      C'est en tant que <b>chef de projet</b> et <b>chef d'équipe</b> que j'ai eu
      l'opportunité de mettre en pratique l'ensemble de ces valeurs lors de mes projets
      scolaires et personnels. Le <a
        href="https://github.com/FloRobart/Maison_eau_dor"
        ><b><u>site Web de Maison Eau d'Or</u></b></a
      > en est un bel exemple. Du <b>recueil des besoins</b> auprès de la filière
      commerciale de l'IUT du Havre jusqu'à la <b>réalisation du site Web</b>,
      en passant par la <b>rédaction d'un cahier des charges rigoureux</b>, la <b
        >création de maquettes</b
      > et la <b>gestion attentive de l'équipe de développement</b> se projet à été
      un projet très complet et instructif. J'ai également dirigé les projets de création
      <a href="https://github.com/FloRobart/Graphe_concepteur-resolveur"
        ><b
          ><u>d'une interface graphique pour créer et résoudre des graphes</u
          ></b
        ></a
      >, de <a href="https://github.com/FloRobart/Python_VRP_resolution"
        ><b><u>résolution du problème du voyageur de commerce</u></b></a
      >, de la création <a
        href="https://github.com/FloRobart/Jeu_aventurier_du_rail"
        ><b><u>du jeu de plateau 'Les aventuriers du rail'</u></b></a
      > et de la création d'<a
        href="https://github.com/FloRobart/Generateur_plateau"
        ><b><u>un générateur de plateau</u></b></a
      >. Tous ses projets ont été l'occasion de mettre en pratique les valeurs
      d'entraide, de respect, de bienveillance, de curiosité et de rigueur, que
      ce soit dans la gestion de l'équipe, la conception du projet ou la
      réalisation technique. Par exemple, lors du projet de résolution du
      problème du voyageur de commerce, nous avons dû faire preuve d'une grande
      rigueur algorithmique pour implémenter des solutions efficaces et
      correctes.
    </p>

    <h2 class="title-h2">Mes qualités humaines</h2>
    <p class="paragraph">
      Avoir des valeurs c'est important mais pour pouvoir être à la hauteur de
      ses valeurs, il faut également posséder des qualités humaines qui
      permettent de les mettre en pratique au quotidien. C'est pourquoi j'ai
      développé des qualités humaines telles que <b>l'organisation</b>, la <b
        >bienveillance</b
      > et
      <b>l'ingéniosité</b>.
    </p>

    <p class="paragraph">
      L’organisation est une qualité structurante dans ma manière de travailler.
      Elle me permet d’aborder les projets avec méthode, de clarifier les
      objectifs, d’anticiper les contraintes et de coordonner efficacement les
      différentes étapes de réalisation. Cette capacité s’est particulièrement
      exprimée dans mes rôles de chef de projet, que j’ai régulièrement occupés
      durant mes études. Lors du projet de <a
        href="https://github.com/FloRobart/Maison_eau_dor"
        ><b><u>site web de Maison Eau d’Or</u></b></a
      >, j’ai structuré l’avancement du projet depuis le recueil des besoins
      jusqu’à la mise en production, en passant par la rédaction d’un cahier des
      charges, la planification des tâches et la répartition du travail au sein
      de l’équipe. Cette organisation a permis de maintenir une vision claire du
      projet, d’éviter les dérives et d’assurer une progression cohérente et
      efficace.
    </p>

    <p class="paragraph">
      La bienveillance, associée à une attitude naturellement calme et à
      l’écoute, constitue un véritable atout dans le travail en équipe. Dans un
      contexte scolaire où les groupes sont souvent imposés et volontairement
      hétérogènes, des tensions peuvent apparaître. Ma capacité à apaiser ces
      situations, à favoriser le dialogue et à valoriser les contributions de
      chacun a permis de maintenir une dynamique de groupe saine et productive.
      Lors de projets comme la réalisation du jeu <a
        href="https://github.com/FloRobart/Jeu_aventurier_du_rail"
        ><b><u>Les aventuriers du rail</u></b></a
      >, j’ai veillé à ce que chaque membre trouve sa place et puisse s’exprimer
      malgré des différences de compétences techniques et de vision du projet.
      Cette approche a contribué à renforcer la cohésion de l’équipe et à créer
      un environnement propice à la collaboration et à la progression
      collective.
    </p>

    <p class="paragraph">
      Enfin, l’ingéniosité est une qualité qui me permet de faire face aux
      problèmes techniques et organisationnelles, même les plus complexes. Elle
      se traduit par une capacité à analyser un problème, à explorer différentes
      pistes et à proposer des solutions adaptées, y compris lorsque les
      approches classiques ne suffisent pas. Dans certains cas, cela implique de
      concevoir des solutions de contournement pour atteindre les objectifs
      fixés. Cette qualité s’est révélée particulièrement utile dans mon rôle de
      chef de projet : lorsqu’un membre de l’équipe rencontrait une difficulté,
      il se tournait naturellement vers moi, et je devais l'aider à trouver une
      solution. Par exemple, lors du projet de <a
        href="https://github.com/FloRobart/Python_VRP_resolution"
        ><b><u>résolution du problème du voyageur de commerce</u></b></a
      >, où la complexité algorithmique était élevée, j’ai contribué à orienter
      les choix techniques afin de garantir des résultats à la fois corrects et
      performants.
    </p>

    <p class="paragraph">
      Ces qualités humaines complètent et renforcent les valeurs que je défends.
      Elles me permettent non seulement de concevoir des solutions techniques
      pertinentes, mais aussi de m’inscrire dans une démarche collaborative
      efficace, où l’humain reste au coeur du projet. Elles constituent
      aujourd’hui un socle essentiel dans ma construction en tant qu’ingénieur
      logiciel et chef de projet.
    </p>

    <h2 class="title-h2">Mes centres d’intérêts</h2>
    <p class="paragraph">
      Comme vous pouvez le voir sur mon Github et dans la section <a
        href="/projets"><b><u>projets</u></b></a
      > de ce site, je passe beaucoup de temps à réaliser des projets personnels,
      et je n'ai pas encore eu le temps de réaliser la moitié de mes idées. Tous cela
      pour dire que j'aime enormément le développement logiciel et surtout la création
      d'outils dont je suis le premier utilisateur.
    </p>

    <p class="paragraph">
      Mais se n'est pas mon seul centre d'intérêt, je fais également du <b
        >cyclisme sur route</b
      > depuis presque <b>2 ans</b>. C'est une activité que j'apprécie
      énormément, le cyclisme sur route est un sport très intéressent parce que
      c'est à la fois un <b>sport d'équipe</b> et un <b>sport individuel</b>.
      L'équipe permet d'aller à la fois d'aller plus vite mais aussi plus loin.
      Il faut être parfaitement coordonné avec ses coéquipiers pour que chacun
      puisse jouer son rôle correctement, mais en même temps c'est un sport
      individuel dans le sens ou il faut être capable de se dépasser seul, de
      gérer son effort et de faire les bons choix tactiques pour réussir à
      suivre le rythme du peloton ou pour réussir à s'échapper. C'est un sport
      très complet qui demande à la fois de la <b>force</b>, de l'<b
        >endurance</b
      >, de la <b>technique</b> et de la <b>stratégie</b>, et c'est ce qui me
      plaît autant dans cette discipline.
    </p>

    <p class="paragraph">
      Malgré mon amour pour le cyclisme, mon sport de prédilection reste le
      <b>roller</b>, plus particulièrement le <b
        >roller de vitesse et d'endurance</b
      >. Je le pratique le plus souvent seul depuis plus de <b>13 ans</b> car je n'est
      pas eu l'occasion de rencontrer des camarade de rollers autour de chez moi,
      cependant j'en ai quand même pratiqué en club amateur durant mes deux dernière
      années d'IUT au Havre. J'ai également eu l'occasion de participer plusieurs
      années à un événement de roller organisé par l'association <a
        href="https://www.youtube.com/watch?v=WS-epI0F9FY"
        ><b><u>10 000 roulettes</u></b></a
      >
      > à l'occasion du <b>Téléthon</b>, qui est un road trip très encadré de
      48h où l'on parcours environs 160km en roller, en passant par plusieurs
      villes et villages, pour récolté des fonds <b
        >pour la recherche médicale</b
      >. C'était une <b>expérience</b> très <b>enrichissante</b>, tant sur le
      plan <b>sportif</b> que <b>humain</b>, et cela m'a permis de vivre <b
        >une aventure unique</b
      > en son genre. Je participe également tous les ans au <b
        >24h du Mans rollers</b
      >
      qui est une <b>compétition internationale</b> de roller d'endurance, où des
      équipes de une à douze personnes s'affrontent pendant 24h sur le mitique <b
        >circuit bugatti du Mans</b
      >. C'est une <b>expérience</b> très <b>intense</b> et très <b
        >enrichissante</b
      >, qui me permet de <b>repousser mes limites</b> physiques et mentales, et de
      vivre des moments forts en équipe et en solitaire.
    </p>

    <h2 class="title-h2">Projets professionnels et personnels</h2>
    <p class="paragraph">
      J'ai pour projet professionnel d'ouvrir <b>mon entreprise</b> de développement
      logiciel, afin de <b>continuer à développer mes applications</b>.
      J'aimerai <b>monétisé mes application</b> notament grâce à de la <b
        >publicité</b
      > discrète et des <b>abonnements</b> sur le modèle <b>freemium</b>, pour
      que les fonctionnalité de base de mes applications sois toujours <b
        >accessible gratuitement</b
      > à tous les utilisateurs.
    </p>

    <p class="paragraph">
      Le fais d'avoir mon entreprise me permettra également de pouvoir <b
        >recruter</b
      > d'autres développeurs pour m'aider à développer mes applications, et ainsi
      pouvoir les faire <b>évoluer plus rapidement</b>. Comme noter plus haut,
      j'ai <b>énormément d'idées</b> de projets qui, je pense, pourraient être très
      <b>utiles pour les utilisateurs</b>, et j'aimerai pouvoir les <b
        >réaliser le plus rapidement possible</b
      > pour pouvoir les mettre à disposition des utilisateurs, mais pour cela j'ai
      besoin de <b>ressources humaines et financières</b> que je n'ai pas encore.
      C'est pourquoi je pense que la création de mon entreprise est la <b
        >meilleure solution</b
      > pour pouvoir <b>réaliser mes projets</b> dans les meilleures conditions possibles.
      Celon mes estimations, je pense avoir environs <b
        >5 ans de développement seul</b
      > pour pouvoir réaliser tous mes projets, mais <b
        >avec une équipe de deux développeurs</b
      > à mes côtés, je pense qu'on pourrais les <b
        >réaliser en moins de 2 ans</b
      >, ce qui me permettra de les mettre à disposition des utilisateurs
      beaucoup <b>plus rapidement</b> et ainsi pouvoir aider plus rapidement les utilisateurs
      à <b>simplifier leur vie</b> grâce à mes applications.
    </p>

    <p class="paragraph">
      De plus vous avez pu lire que j'ai créer ma propre <a
        href="https://github.com/FloRobart/FlorAccess_server"
        ><b><u>API d'authentification</u></b></a
      >, outre le fais qu'elle permet une <b>authentification sécurisée</b> bien plus
      <b>simple</b> que le traditionnel mot de passe elle me permet surtout de créer
      un <b>écosystème</b>, se qui permet à toute mes applications de s'<b
        >interconnecté</b
      > entre elles, un peu <b>comme se que fait Google</b> avec Gmail, Google Drive,
      Google Calendar, etc. J'ai également <a
        href="https://documentation.florobart.fr/"
        ><b><u>une documentation</u></b></a
      > générale qui me permettra de <b>former facilement</b> et <b
        >rapidement</b
      > des potentiels collaborateurs qui pourraient <b
        >m'aider à développer mes applications</b
      > et je met un soins particulier à <b>bien commenter mon code</b>, à
      rédiger des <b>README complets</b> et à toujours tous mettre dans des <a
        href="https://hub.docker.com/u/florobart"
        ><b><u>conteneurs Docker</u></b></a
      > pour que n'importe qui puisse <b>facilement lancer mes applications</b> en
      local pour les tester, les utiliser ou même contribuer à leur développement.
      Tous ses éléments sont pour l'instant que des détails de propreté mais me donnerons
      une <b>longueur d'avance</b> pour la création de mon entreprise, car ils me
      permettront de <b>recruter plus facilement</b> des collaborateurs, de les <b
        >former plus rapidement</b
      > et de les faire monter en compétence plus rapidement.
    </p>

    <p class="paragraph">
      Mes projets personnels sont d'<b>améliorer mes performances sportives</b>,
      notamment en roller en vue des <b>24h du Mans rollers</b> que je fais en <b
        >solitaire</b
      > pour la première cette années, ainsi que de continuer d'économiser afin d'<b
        >emménager avec ma compagne</b
      >.
    </p>
  </div>
</section>
