---
import HeadingSecBar from "../Heading_sec_bar.astro";
---

<h2 class="text-center mb-10">
  <span
    class="heading-sec__main block text-3xl md:text-4xl uppercase tracking-wider font-extrabold text-gray-900"
    >Compétences</span
  >
  <HeadingSecBar />
  <span class="block mt-4 text-sm md:text-base text-gray-600 max-w-3xl mx-auto"
    >Vous trouverez ici une liste de mes compétences professionnelles.</span
  >
</h2>
