---

---

<section class="flex flex-col items-center">
  <div class="max-w-[80%]">
    <h2 class="title-h2">Présentation</h2>
    <p class="paragraph">
      paragraphe
    </p>

    <h2 class="title-h2">Contexte et Objectif (enjeu et risque)</h2>
    <p class="paragraph">
      paragraphe
    </p>

    <h2 class="title-h2">Acteur</h2>
    <p class="paragraph">
      paragraphe
    </p>

    <h2 class="title-h2">Déroulement</h2>
    <p class="paragraph">
      paragraphe
    </p>

    <h2 class="title-h2">Résultats</h2>
    <p class="paragraph">
      paragraphe
    </p>

    <h2 class="title-h2">Avenir</h2>
    <p class="paragraph">
      paragraphe
    </p>

    <h2 class="title-h2">Auto-critique</h2>
    <p class="paragraph">
      paragraphe
    </p>
  </div>
</section>
