# Application configuration
APP_NAME="My App" # Name of the application (example: "My App")
SITE_URL="http://localhost:4321" # Base URL for the application (example: "http://localhost:4321")
BASE_URL="/" # Base path for the application (example: "/")
APP_PORT=26006 # Exposed port for Econoris server in development (example: 8080)

# Email
MAIL_SERVICE= # Email service provider (example: gmail)
MAIL_USERNAME= # Email account
MAIL_PASSWORD= # Password or App Password for the email account
