---
import { Picture } from "astro:assets";

interface Props {
  image: ImageMetadata;
}

const { image } = Astro.props;
---

<section class="flex flex-col items-center">
  <div class="max-w-[80%]">
    <Picture
      src={image}
      alt="Logo d'ISCOD"
      width={image.width / 2}
      height={image.height / 2}
      loading="lazy"
      decoding="async"
    />

    <h2 class="title-h2">Présentation de l’établissement</h2>
    <p class="paragraph">
      ISCOD (Institut Supérieur des Compétences de Demain) est une école supérieure accessible partout en France. Elle propose des formations diplômantes en alternance, du Bac+2 au Bac+5, dans les domaines du marketing, du commerce, des ressources humaines et de l'informatique.
    </p>

    <p class="paragraph">
      J'ai intégré cette école parce qu'elle m'a été proposée par l'entreprise où j'ai effectué ma première alternance, parce que le mastère en ingénierie logicielle (Bac+5) est reconnu par l'État, et parce que l'idée d'obtenir un Bac+5 en informatique me séduisait. La seule réticence que j'avais à l'idée de poursuivre mes études après mon BUT était de devoir retourner à l'école à plein temps, ce qui n'est pas le cas avec l'ISCOD. C'est une école en alternance et à distance, ce qui me permet de suivre mon propre rythme d'apprentissage tout en continuant à travailler.
    </p>

    <h2 class="title-h2">Ma vision de la pédagogie pratiquée</h2>
    <p class="paragraph">
      Pendant ma formation, je vais suivre un rythme d'alternance d'un jour à l'école et quatre jours en entreprise, ce qui permet une continuité dans les missions en entreprise et évite les coupures. En complément de l'aspect professionnel, l'école s'appuie sur une plateforme digitale avec des cours vidéo, favorisant un apprentissage en autonomie et la possibilité de progresser à son propre rythme : les personnes rapides, qui maîtrisent déjà certains concepts ou intègrent rapidement de nouveaux savoirs, peuvent avancer rapidement sans attendre les autres, tandis que celles qui rencontrent des difficultés peuvent revoir les cours autant de fois que nécessaire sans se sentir en retard. Autrement dit, c'est un format plus personnalisé, que je trouve très intéressant.
    </p>

    <p class="paragraph">
      En plus des vidéos, des lives sont organisés chaque semaine avec l'auteur des cours, ce qui permet aux personnes en difficulté de poser des questions. Un serveur Discord est également mis à disposition pour que tous les élèves puissent s'entraider. Ainsi, même s'il faut faire preuve d'autonomie, les élèves ne sont pas seuls.
    </p>

    <p class="paragraph">
      Ce système demande de la discipline pour apprendre et gérer soi-même ses horaires de travail, des qualités que je possède et qui me permettent d'avancer efficacement. Pour autant, je pense que cela ne convient pas à tout le monde. Il faut en tenir compte avant de s'inscrire.
    </p>

  </div>
</section>
