---
import { Picture } from "astro:assets";

interface Props {
  image: ImageMetadata;
}

const { image } = Astro.props;
---

<section class="flex flex-col items-center">
  <div class="max-w-[80%]">
    <Picture
      src={image}
      alt="Logo de l'IUT du Havre"
      width={image.width / 2}
      height={image.height / 2}
      loading="lazy"
      decoding="async"
    />

    <h2 class="title-h2">Présentation de l’établissement</h2>
    <p class="paragraph">
      L'IUT du Havre est un établissement d'enseignement supérieur public situé au Havre (76600), en Normandie. Il propose des formations dans de nombreux domaines : génie civil et construction durable, gestion des entreprises et des administrations, carrières sociales, génie mécanique et productique, information-communication, management de la logistique et des transports, génie électrique et informatique industrielle, techniques de commercialisation, hygiène-sécurité-environnement, et enfin informatique, la formation que j'ai suivie. L'IUT du Havre est réparti sur deux campus. Il est rattaché à l'université Le Havre Normandie et propose des formations initiales et en alternance.
    </p>

    <h2 class="title-h2">Ma vision de la pédagogie pratiquée</h2>
    <p class="paragraph">
      L'IUT du Havre combine cours théoriques et nombreux travaux pratiques, ce qui favorise une bonne compréhension des concepts et de leur application concrète. Les enseignements sont assurés par des enseignants-chercheurs, des professionnels du secteur et des intervenants extérieurs, apportant une diversité de perspectives et d'expériences très intéressantes.
    </p>
  </div>
</section>
