---
import { Picture } from "astro:assets";

interface Props {
  image: ImageMetadata;
}

const { image } = Astro.props;
---

<section class="flex flex-col items-center">
  <div class="max-w-[80%]">
    <Picture
      src={image}
      alt="Logo de Qowisio"
      width={image.width / 2}
      height={image.height / 2}
      loading="lazy"
      decoding="async"
    />

    <h2 class="title-h2">Présentation de l’établissement</h2>
    <p class="paragraph">
      L'IUT du Havre est une institution d'enseignement supérieur public qui se situe au Havre (76600), en Normandie. Il propose des formations dans les domaines du génie civil-construction durable, de la gestion des entreprises et des administrations, des carrières sociales, du génie mécanique et productique, de l'information communication, du management de la logistique et des transports, du génie électrique et informatique industrielle, des techniques de commercialisation, de l'hygiène sécurité environnement et enfin de l'informatique, qui est la formation que j'ai suivi. L'IUT du Havre est séparer en deux campus et est rattaché à l'université Le Havre Normandie et propose des formations en initiale, en alternance et en formation continue.
    </p>

    <h2 class="title-h2">Ma vision de la pédagogie pratiquée</h2>
    <p class="paragraph">
      L'IUT du Havre combine des cours théoriques et beaucoup de travaux pratiques, ce qui permet d'avoir une bonne compréhension des concepts et de leur application concrète. Les cours sont dispensés par des enseignants-chercheurs, des professionnels du secteur et des intervenants extérieurs, ce qui apporte une diversité de perspectives et d'expériences.
    </p>
  </div>
</section>
