---
import { Picture } from "astro:assets";

interface Props {
  image: ImageMetadata;
}

const { image } = Astro.props;
---

<section class="flex flex-col items-center">
  <div class="max-w-[80%]">
    <Picture
      src={image}
      alt="Logo du lycée Duplessis Mornay"
      width={image.width / 2}
      height={image.height / 2}
      loading="lazy"
      decoding="async"
    />

    <h2 class="title-h2">Présentation de l’établissement</h2>
    <p class="paragraph">
      Le lycée Duplessis Mornay est un établissement d'enseignement secondaire public situé à Saumur (49400), dans le département de Maine-et-Loire, en région Pays de la Loire. Il propose des formations générales, littéraires et artistiques.
    </p>

    <p class="paragraph">
      J'ai intégré ce lycée en seconde générale, principalement parce qu'il jouissait d'une bonne réputation et était relativement proche de chez moi. Je n'y suis resté qu'un an, car mon profil était nettement scientifique. J'obtenais facilement des 18 dans les matières scientifiques, mais je n'avais que 10 dans les matières littéraires. J'ai donc décidé de changer d'établissement et d'orientation pour rejoindre un lycée plus axé sur les disciplines scientifiques : le lycée Sadi Carnot - Jean Bertin, également situé à Saumur, à dix minutes à pied de Duplessis Mornay.
    </p>

    <h2 class="title-h2">Ma vision de la pédagogie pratiquée</h2>
    <p class="paragraph">
      La pédagogie pratiquée au lycée Duplessis Mornay est plutôt classique et met l'accent sur les matières littéraires et artistiques, ce qui ne correspondait pas à mon profil scientifique.
    </p>
  </div>
</section>
