---
import { Picture } from "astro:assets";

interface Props {
  image: ImageMetadata;
}

const { image } = Astro.props;
---

<section class="flex flex-col items-center">
  <div class="max-w-[80%]">
    <Picture
      src={image}
      alt="Logo de Qowisio"
      width={image.width / 2}
      height={image.height / 2}
      loading="lazy"
      decoding="async"
    />

    <h2 class="title-h2">Présentation de l’établissement</h2>
    <p class="paragraph">
      Le lycée Duplessis Mornay est un établissement d'enseignement secondaire public situé à Saumur (49400), dans le département de Maine-et-Loire en région Pays de la Loire. Il propose des formations générales, litéraires et artistiques.
    </p>

    <p class="paragraph">
      J'ai intégré ce lycée en seconde générale, parce que le lycée avait une bonne réputation et était relativement proche de chez moi. Je ne suis resté qu'un an dans ce lycée, car j'ai un profil largement scientifique, ce qui faisait que j'avais des 18 assez facilement dans les matières scientifiques, mais j'avais tous juste 10 dans les matières littéraires. J'ai donc décidé de changer de lycée et de filière pour aller dans un lycée plus axé sur les matières scientifiques, qui était le lycée Sadi Carnot - Jean Bertin, qui se trouve aussi à Saumur, à 10 minutes à pied de Duplessis Mornay.
    </p>

    <h2 class="title-h2">Ma vision de la pédagogie pratiquée</h2>
    <p class="paragraph">
      La pédagogie pratiquée au lycée Duplessis Mornay est plutôt classique, avec un accent mis sur les matières littéraires et artistiques, ce qui ne correspondait pas à mon profil scientifique.
    </p>
  </div>
</section>
