---
import { Picture } from "astro:assets";
import { getProjectById } from "@/data/projects";

interface Props {
  image: ImageMetadata;
}

const { image } = Astro.props;
const genesisProject = getProjectById("genesis");
---

<section class="flex flex-col items-center">
  <div class="max-w-[80%]">
    <Picture
      src={image}
      alt="Logo de Qowisio"
      width={image.width / 2}
      height={image.height / 2}
      loading="lazy"
      decoding="async"
    />

    <h2 class="title-h2">Présentation de l’établissement</h2>
    <p class="paragraph">
      <a href="https://www.qowisio.com/">Qowisio</a> est une entreprise angevine fondée en 2009, <b>spécialisée dans les solutions IoT</b> (Internet of Things, ou Internet des objets en français).
      Depuis son rachat par le groupe <a href="https://www.groupe-ocea.fr/qui-sommes-nous/">Ocea Smart Building</a> en 2022, Qowisio constitue le pôle de
      recherche et développement du groupe, se concentrant sur la création de solutions innovantes pour les bâtiments intelligents. L'entreprise propose une gamme
      de produits et de services permettant de connecter, surveiller et gérer différents éléments des bâtiments. Parmi eux, on retrouve notamment
      l'eau, le chauffage, la climatisation et d'autres systèmes, contribuant ainsi à améliorer l'efficacité énergétique et la durabilité.
      Qowisio travaille avec divers secteurs : résidentiel, commercial et industriel, et propose des solutions adaptées à chaque besoin.
    </p>

    <h2 class="title-h2">Travail effectué</h2>
    <p class="paragraph">
      Durant mon alternance chez Qowisio, toujours en cours, j'ai eu l'opportunité de travailler sur plusieurs projets. J'ai
      commencé par créer un backend de notification auquel les applications clientes peuvent se connecter pour recevoir en temps réel
      des notifications sur les relevés des compteurs et des capteurs installés chez les clients de Qowisio et d'Ocea Smart Building.
    </p>

    <p class="paragraph">
      J'ai également participé à la refonte de l'application principale de Qowisio. Nous avons migré l'application d'AngularJS (Angular 1) vers
      Angular 19. Cette refonte a permis d'améliorer les performances, la maintenabilité et l'expérience utilisateur de l'application, tout en adoptant les dernières
      fonctionnalités et bonnes pratiques d'Angular.
    </p>

    <p class="paragraph">
      J'ai aussi travaillé à la création d'une application dédiée aux techniciens d'Ocea Smart Building{genesisProject ? " nommée " : ""}<a
        href={genesisProject?.localLink}>{genesisProject?.title}</a
      >, qui leur permet de poser et de visualiser la couverture des passerelles. Une passerelle est un boîtier qui fait le lien entre les capteurs et
      les serveurs de Qowisio. Elles sont généralement posées dans les parties communes des immeubles ou dans les locaux techniques.
    </p>

    <p class="paragraph">
      Je travaille actuellement sur la création d'une application de monitoring des passerelles, nommée Nexus, qui permet de visualiser les passerelles,
      vérifier leur état de fonctionnement, modifier leur configuration et mettre à jour leur firmware à distance. Cette application est développée en Angular
      19 côté frontend et en Node.js côté backend.
    </p>

    <h2 class="title-h2">Ma place dans l'entreprise</h2>
    <p class="paragraph">
      J'ai intégré Qowisio en tant que développeur web en alternance en mars 2025. Je me suis intégré assez facilement, d'autant plus qu'au début
      nous n'étions que deux développeurs web, en plus de mon maître d'apprentissage. L'équipe compte aujourd'hui 4 développeurs, un directeur technique
      (mon maître d'apprentissage et cofondateur), un directeur général, un alternant commercial, un ingénieur firmware, un alternant hardware, un ingénieur hardware,
      une ingénieure radio et télécommunications et une comptable. Au total, l'entreprise compte 12 personnes.
    </p>

    <p class="paragraph">
      J'ai été très bien accueilli par toute l'équipe. Un des gros points forts de Qowisio est que tout le monde travaille au même endroit, ce qui
      nous donne l'occasion de voir ce que font les autres membres de l'entreprise, quel que soit leur poste. Cela permet d'avoir une bonne vision
      d'ensemble de l'entreprise, de se sentir intégré et d'apprendre beaucoup sur les autres métiers.
    </p>
  </div>
</section>
