---
import Presentation from "@/components/presentation/Presentation.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import HeadingSecBar from "@components/Heading_sec_bar.astro";
---

<MainLayout>
  <h2 class="text-center mb-14 mt-20">
    <span
      class="heading-sec__main block text-3xl md:text-4xl uppercase tracking-wider font-extrabold text-gray-900"
      >Présentation</span
    >
    <HeadingSecBar />
    <span
      class="block mt-4 px-4 text-sm md:text-base text-gray-600 max-w-3xl mx-auto"
      >Vous trouverez ici plus d'informations sur moi, ce que j'aime dans le
      développement logiciel, mes valeurs, mes qualités ainsi que mes passions</span
    >
  </h2>

  <div class="max-w-7xl mx-auto mb-24">
    <Presentation />
  </div>
</MainLayout>
