---

---

<section class="flex flex-col items-center">
  <div class="max-w-[80%]">
    <h2 class="title-h2">Ma définition</h2>
    <p class="paragraph">
      Savoir faire une bonne documentation, qu'elle sois technique ou utilisateur, c'est être capable de faire à la fois un document clair et précis, qui explique de manière simple et compréhensible comment utiliser un produit ou un service, tout en fournissant suffisamment de détails pour que les utilisateurs puissent comprendre les fonctionnalités et les avantages du produit ou du service.
    </p>

    <p class="paragraph">
      Une bonne documentation doit être facile à lire et à comprendre, et doit être organisée de manière logique pour que les utilisateurs puissent trouver rapidement les informations dont ils ont besoin. En somme, une bonne documentation est un outil essentiel pour aider les utilisateurs à tirer le meilleur parti d'un produit ou d'un service, et pour assurer leur satisfaction et leur fidélité à long terme.
    </p>

    <p class="paragraph">
      Ils existent plusieurs types de documentation, chacun ayant ses propres spécificités et objectifs. Parmi les types de documentation les plus courants, on peut citer les documentations techniques, qui permet de comprendre le fonctionnement interne d'un produit ou d'un service, les documentations utilisateur, qui explique comment installer, configurer et/ou utiliser un produit ou un service. Il existe d'autre types de documentation, mais elle peuvent quasiment toutes être classé dans l'une de ces deux catégories.
    </p>

    <h2 class="title-h2">Mes éléments de preuve</h2>
    <p class="paragraph">
      J'ai une préférence pour la documentation technique, que je trouve plus intéressante à rédiger que la documentation utilisateur. Une documentation technique à l'avantage de devoir être concise, dans certains cas elle peut même se résumer en une liste d'instruction claire et précise, avec des explication technique à chaque étape. C'est simple et efficace, et ça me correspond parfaitement.
    </p>

    <p class="paragraph">
      La documentation utilisateur, quant à elle, est souvent moins complexe, pluisqu'elle doit être accessible à un public plus large, mais elle est plus verbeuse, c'est à dire que là où avec une documentation technique je peux faire un liste très concise, avec une documentation utilisateur je dois faire des phrases complètes, avec des explications plus détaillées pour que les utilisateurs puissent comprendre les fonctionnalités et les avantages du produit ou du service.
    </p>

    <p class="paragraph">
      Donc c'est pas plus complexe en sois mais c'est de la rédaction plus classique, se qui est moins dans mes habitudes et que je trouve moins intéressant à faire. De plus les documentations utilisateur nécessite souvent plus d'image, de capteur d'écran, de vidéo, etc... pour illustrer les différentes étapes, ce qui rend la rédaction plus longue et plus fastidieuse, là ou la documentation technique peut souvent se contenter de texte, du code et au pire des schemas faisable en texte grâce à des outils comme mermaid chart.
    </p>

    <p class="paragraph">
      J'ai appris à faire des documentations en mars 2023, lors de mon premier stage en entreprise. J'étais à Extrait d'Anjou, une entreprise d'extrait de principe actif dans des plantes notamment des artichauds. Le service informatique de l'entreprise est composé d'une seul personne. Il s'occupe de toute la partie informatique, que ce soit les ordinateurs de bureau, les serveurs de production, les logiciels utilisés par les employés, etc... Il a une grande expérience dans le domaine de l'informatique, et il m'a appris beaucoup de choses pendant mon stage.
    </p>

    <p class="paragraph">
      Parmis toute ses choses, il m'a montrer la documentation qu'il avait faite pour l'entreprise, une documentation entièrement rédigé en Markdown et qui permettra au prochain informaticien qui travaillera dans l'entreprise de comprendre rapidement comment fonctionne l'infrastructure informatique de l'entreprise, comment sont configuré les serveurs, les logiciels utilisés, etc.
    </p>

    <p class="paragraph">
      Quand j'ai vu cette documentation, j'ai tout de suite compris l'importance d'avoir une bonne documentation, et je me suis dis "wow, pourquoi tous le monde ne fais pas cela ?". Le Markdown à plusieurs avantages, il est simple à utiliser, il permet de mettre du style, il est facilement partageable, il est facilement modifiable et surtout, il peux être facilement converti en d'autre format, notamment en HTML, pour les documentations en ligne mais aussi en PDF, pour les documentations plus classique, et en quasiment tous les autres format imaginable, ce qui en fait un format de documentation très pratique et très polyvalent.
    </p>

    <p class="paragraph">
      Grace à ses extentions comme mermaid chart, il est même possible de faire des schémas d'architecture, des diagramme de classe, des diagramme de séquence, et bien d'autre type de schéma uniquement avec du texte. C'est par exemple grâce à cela que j'ai réaliser le schema de mon parcours. 
    </p>

    <!-- Documentation technique (avec ma documentation) -->
    <p class="paragraph">
      C'est donc suite à cette découverte que j'ai commencer à créer ma documentation technique en juin 2023, également entièrement écrite en Markdown. Elle à connu beaucoup d'évolution depuis sa création. Au début c'étais un simple fichier Markdown, puis deux, puis trois, puis j'ai commencé à les organiser dans des dossiers. Ensuite j'ai créer un dépot Github pour qu'elle me sois accessible de partout. Ensuite j'ai découvert Github Page, qui m'a permis de la rendre accessible en ligne, avec une interface plus agréable que Github, et surtout avec une organisation plus claire.
    </p>

    <p class="paragraph">
      Aujourd'hui ma documentation est toujours écrite en Markdown, mais n'est plus livré simplement par Github Page, j'utilise Mkdocs, qui, à partir de fichier Markdown, génère un site web HTML/CSS statique, avec une interface très agréable et des fonctionnalité avancé comme la recherche et le thème (clair/sombre). Ensuite ses fichiers static sont hébergé sur Github Page, pour une mise à jour automatique à chaque fois que je fais une modification dans les fichiers Markdown. Mais se n'est pas tous, ils sont aussi servie dans un docker sur mon serveur de production, au même titre que mes applications web. Le but est de lié mon nom de domaine à ma documentation, pour qu'elle soit facilement accessible à tous et qu'elle figure dans la liste de mes projets, accessible à la racine de mon nom de domaine.
    </p>

    <p class="paragraph">
      Ma documentation couvre un grand nombre de sujets, allant de la configuration d'un serveur web à l'installation de logiciels, en passant par la création d'un micro entreprise en France. En fait ma doumentation me sert de base de connaissance personnelle, elle me permet de garder une trace de se que j'ai fais, et surtout une aide mémoire pour être capable très facilement de refaire les mêmes choses à l'avenir, sans devoir me souvenir de tout par coeur ou de devoir chercher à nouveau comment faire.
    </p>

    <p class="paragraph">
      En plus de cela elle me sert également à partager mes connaissances avec les autres, que ce soit mes collègues de travail ou des personnes de mon entourage qui ont besoin d'aide pour faire certaines choses. Je partage régulièrement des liens vers ma documentation avec les gens qui me posent des questions, et ça leur permet d'avoir une réponse claire et précise à leurs questions, sans que je passe du temps à leur expliquer les choses en détail à chaque fois. C'est un gain de temps pour moi, et ça permet aux gens d'avoir une réponse rapide et efficace à leurs questions.
    </p>

    <p class="paragraph">
      Par exemple, quand j'ai appris à créer des API avec nodeJS j'ai fais beaucoup de recherche pour connaitre la meilleure architecture à mettre en place, les meilleures pratiques à suivre, etc. Et bien une fois que j'ai trouvé les réponses à toutes mes questions, que j'ai mis à l'épreuve cette architecture en condition réelle et que j'ai vraiment bien compris comment faire, j'ai rédigé une documentation technique complète sur le sujet, avec des explications détaillées, des exemples de code, des schémas d'architecture que vous pouvez retrouver <a href="https://documentation.florobart.fr/01_development/backend/create_api_typescript/"><b><u>ici</u></b></a>.
    </p>

    <p class="paragraph">
      Vous pouvez voir que cette documentation sur l'architecture d'API avec Typescript est très complète, elle couvre la création, la comparaison et le lancement de l'API, le tous avec les commandes à utiliser, les explications techniques, les fichiers de configuration, les exemples de code, etc.
    </p>

    <p class="paragraph">
      Je fais attention à toujours faire des documentations les plus complètes possible parce que quand je débutais l'informatique, il y a avait beaucoup de documentation qui ignorais les première étape parce qu'il pensait ça évident, et effectivement pour quelqu'un qui connais déjà un minimum le sujet ça peut paraitre évident, mais pour quelqu'un qui débute c'est très compliqué de devoir deviner les étapes à faire avant d'arriver à la partie intéressante qui est traitée dans la documentation
    </p>

    <p class="paragraph">
      Et c'est notament à cause de ça que j'ai créer une <a href="https://documentation.florobart.fr/01_development/others/web_development_micro_service/">documentation complète pour une application web de zéro</a>. Cette documentation couvre la création de la base de données Postgresql, la création d'une API avec nodeJS, la création d'une application web avec Flutter et la mise en production de l'application avec Docker. Normalement avec cette documentation et en prenant Econoris comme exemple reel, n'importe quel développeur junior devrait être capable de créer une application web de zéro, avec une architecture moderne et performante, et de la mettre en production, sans devoir chercher à droite à gauche comment faire les différentes étapes, parce que tout est expliqué en détail dans la documentation.
    </p>

    <p class="paragraph">
      J'ai des dizaines d'autre documentation que j'ai rédigé sur des sujets très variés, pour les cité les plus notable, il y a ma documentation sur le clean code avec les 10 meilleures pratiques à suivre pour faire du code propre et sans bug du premier coup, ma documentation sur Java, qui est l'une des toute première que j'ai rédigé, ma documentation sur Typescript, qui est très détaillé et complète, ma documentation sur la création de paquet Debian, où j'ai eu du mal à regrouper les informations, ma documentation sur Visual Studio Code, qui permet une configuration très pratique pour le développement avec NodeJS et Typescript, ma documentation sur Git, qui est une aide mémoire donc je me sert très souvent et ma documentation sur SSH, qui me sert également d'aide mémoire à chaque fois que je dois installer et configurer un serveur.
    </p>

    <p class="paragraph">
      Je continue de rédiger de nouvelles documentations à chaque fois que j'apprends de nouvelles choses et que je n'ai pas de trouver de documentation complète et claire sur le sujet, avec quand même une limite, qui est le temps. Rédiger tout cela prend du temps, malheureusement je n'ai pas assez de temps pour les tenir plus à jour, les corriger où en faire plus. Mais je fais de mon mieux pour les tenir à jour, et j'essaye de faire en sorte qu'elles soient les plus complètes possible dès le départ, pour éviter d'avoir à les corriger ou à les compléter par la suite.
    </p>

    <p class="paragraph">
      Il ne faut pas oublier qu'à la base elles sont vraiment personnelle, donc même si je les partage avec les autres, que j'essaie de les rendre les plus accessible possible, elles sont avant tout faites pour moi, pour me servir d'aide mémoire et de base de connaissance personnelle, donc elles sont loins d'être parfaite et elle contiennent des fautes de français. En revanche tous les éléments techniques sont vérifié et testé, parce que quand j'écrit une documentation (sauf exception pour la création d'entreprise) c'est que j'ai fait toutes les étapes moi même, que j'ai testé et que je suis sûr que ça fonctionne, donc je peux être sûr que les éléments techniques sont corrects, même si la rédaction n'est pas parfaite.
    </p>

    <p class="paragraph">
      De plus j'essaie également de mettre mes sources. Certaines fois se sont des vidéos, d'autre fois se sont des articles de blog, d'autre fois se sont des documentations officielles, il peut également y avoir des information tiré d'intelligences artificielles, ou des informations que j'ai apprise avec mes collègues de travails. Souvent c'est une combinaison de tout cela. Je trouve que c'est important de mettre les sources, parce que ça permet aux gens qui lisent la documentation de creuser le sujet s'ils le souhaitent, et ça permet aussi de trouver des éléments de réponse si se que j'ai fais ne fonctionne pas pour eux, parce que même si j'ai testé et que je suis sûr que ça fonctionne pour moi, il peut y avoir des éléments que j'ai pas pris en compte et qui font que ça ne fonctionne pas pour d'autre personnes, et dans ce cas là les sources peuvent être très utiles pour trouver des éléments de réponse.
    </p>

    <!-- Documentation utilisateur (Avec maven Lite) -->
    <p class="paragraph">
      Bien que la grande majorité de mes documentations soient des documentations techniques, j'ai également rédigé quelques documentations utilisateur, notamment pour mon application, Maven Lite. Maven Lite est une application qui était destiné à être utilisé par des étudiants pour les aider à créer et développer des projets Java, donc c'est important que la documentation doit clair et facilement compréhensible, même pour des débutants en informatique.
    </p>

    <p class="paragraph">
      J'ai rédigé cette documentation utilisateur en me mettant à la place d'un utilisateur qui découvre Maven Lite pour la première fois. Tout d'abord, un utilisateur qui découvre Maven Lite va vouloir savoir ce que c'est, à quoi ça sert, comment ça fonctionne. Donc j'ai commencé par expliquer ce qu'est Maven Lite, les fonctionnalités qu'elle offre, les avantages qu'elle apporte.
    </p>

    <p class="paragraph">
      Ensuite, une fois que l'utilisateur a compris ce qu'est Maven Lite, il va vouloir savoir comment l'installer, c'est pourquoi à la suite de l'introduction j'ai mis une section d'installation, qui explique comment installer Maven Lite sur les différents systèmes d'exploitation, avec des explications détaillées et toutes les commandes à utiliser.
    </p>

    <p class="paragraph">
      Pour finir, une fois que l'utilisateur a installé Maven Lite, il va vouloir savoir comment l'utiliser, c'est pourquoi j'ai mis une section d'utilisation, qui explique comment utiliser Maven Lite pour créer et développer des projets Java, avec des explications détaillées et des exemples de code pour illustrer les différentes fonctionnalités de l'application.
    </p>

    <p class="paragraph">
      En plus de cela, il y a la commande "maven-lite --help" qui affiche une aide rapide sur les fonctionnalités principale et des exemples concret d'utilisation, pour les utilisateurs qui veulent une réponse rapide à leurs questions sans devoir lire toute la documentation. Si l'utilisateur veut une documentation plus complète, il peut utiliser la page de manuel à l'aide de la commande "man maven-lite", qui affiche toute les les fonctionnalités de l'application, avec des courtes explications. La commande man n'est disponible que sur Linux.
    </p>

    <p class="paragraph">
      On peut se dire qu'avoir trois documentations différentes pour une même application, c'est un peu redondant, mais en réalité elles sont complémentaire, chacune à son propre cas d'usage. La documentation en ligne est plus agréable à lire et beaucoup plus complète, elle est destiné à être lu une première fois pour comprendre l'application et ses fonctionnalités.
    </p>

    <p class="paragraph">
      Les pages de manuel accessible via la commande "man maven-lite" sont destiné à être utilisé comme une aide mémoire, pour les utilisateurs qui ont déjà lu la documentation en ligne et qui veulent une réponse rapide à leurs questions, même en utilisant des fonctionnalités avancé de l'application, sans devoir chercher dans la documentation en ligne.
    </p>

    <p class="paragraph">
      Et pour finir, la commande "maven-lite --help" est destiné à être utilisé pour les utilisateurs qui veulent une réponse rapide sur des fonctionnalités de base de l'application, sans devoir chercher dans la documentation en ligne ou dans les pages de manuel qui peuvent être un peu longue. Par exemple moi même j'utilisais la commande "--help" pour pouvoir copier coller les exemples de création d'un projet Java.
    </p>

    <p class="paragraph">
      Donc on voit bien qu'il y a trois utilisations différentes pour les trois documentations différentes, même si elles parlent de la même application, et c'est pour cela que je trouve important d'avoir plusieurs types de documentation, pour pouvoir répondre aux différents besoins des utilisateurs, que ce soit des utilisateurs qui découvrent l'application pour la première fois, ou des utilisateurs qui veulent simplement se souvenir de la syntaxe à utiliser pour faire une action précise.
    </p>

    <h2 class="title-h2">Mon autocritique</h2>
    <p class="paragraph">
      La documentation est un aspect crucial du développement logiciel, et je suis conscient que mes documentations ne sont pas parfaites, elles contiennent des fautes de français et elles sont parfois un peu désorganisé, du notament au fait que je l'écrit en même temps que je fais les actions et que je n'est pas le temps de toute les relires. Cependant, je fais de mon mieux pour les rendre les plus complètes possible, et surtout ça reste des erreurs uniquement dans la forme, le fond lui est correct, vérifier et fiable.
    </p>

    <p class="paragraph">
      Malgré tous la documentation est une compétence que je maitrise plutôt bien, parce que je sais bien faire le fond, pour se qui est de la forme il me suffit de me relire pour régler le problème. De plus peu de développeur font de la documentation et encore moins aime en faire, hors moi j'aime bien faire de la documentation, je trouve ça très intéressant de pouvoir partager mes connaissances et en plus ça me permet de vérifier que j'ai bien compris les sujets que je traite dans mes documentations.
    </p>

    <p class="paragraph">
      Je pense que le plus important pour faire une bonne documentation, c'est de se mettre à la place du lecture. Dans cette optique, il faut se demander "Pourquoi l'utilisateur va vouloir lire cette documentation ?" et en fonction de la réponse à cette question, il faut adapter la documentation pour qu'elle réponde au mieux aux besoins de l'utilisateur.
    </p>

    <p class="paragraph">
      Par exemple, si l'utilisateur veut simplement une réponse rapide à une question précise, il faut faire en sorte que la documentation puisse lui fournir cette réponse rapidement, sans qu'il ait à chercher dans toute la documentation pour trouver la réponse à sa question.
    </p>

    <p class="paragraph">
      Et si votre documentation va être lu par des personnes qui cherche un tutoriel, comme pour l'installation d'une application par exemple, il faut faire en sorte que la documentation soit une liste d'étape simple à suivre, avec des explications claires et précises pour chaque étape, pour que les utilisateurs puissent suivre la documentation facilement et sans se perdre.
    </p>

    <p class="paragraph">
      Rien qu'avec cette astuce de se mettre à la place du lecteur, on peut déjà faire une documentation beaucoup plus efficace et beaucoup plus utile pour les utilisateurs, parce que ça permet de répondre au mieux à leurs besoins.
    </p>

    <h2 class="title-h2">Mon évolution dans cette compétence</h2>
    <p class="paragraph">
      La documentation est un élément clé pour tous projet et cela se vérifie en pratique. La plupart du temps, les projets les plus populaire et les plus sont ceux qui ont une bonne documentation, parce que c'est un élément essentiel pour que les utilisateurs puissent comprendre comment utiliser le projet, et pour que les développeurs puissent comprendre comment contribuer au projet.
    </p>

    <p class="paragraph">
      Je compte bien continuer à faire de la documentation, déjà parce que j'aime bien et aussi parce que c'est un élément essentiel pour tous projet, que ce soit pour mes projets personnels ou pour les projets sur lesquels je travaille en entreprise. Je pense que c'est une compétence qui est très importante à avoir, et je suis content de l'avoir développé au fil du temps, même si j'ai encore beaucoup de progrès à faire pour la rendre parfaite.
    </p>

    <p class="paragraph">
      Si j'ai plus de temps à l'avenir, j'aimerais pouvoir faire des documentations plus complète, avec des explications plus détaillées, des exemples de code plus nombreux, des schémas d'architecture plus élaboré, etc. J'aimerais également pouvoir compléter certaine de mes documentations, comme celle sur l'architecture frontend avec Flutter.
    </p>

    <p class="paragraph">
      Je vais donc continuer de faire évoluer cette compétence et comme toujours avec beaucoup de pratique, en prenant exemple sur les documentations que j'aime bien et en me formant avec des ressources libre et gratuite, pour essayer de faire des documentations de plus en plus qualitatives. Je vais également essayer de faire plus de documentations utilisateur parce que c'est très important.
    </p>
  </div>
</section>
