---

---

<section class="flex flex-col items-center">
  <div class="max-w-[80%]">
    <h2 class="title-h2">Ma définition</h2>
    <p class="paragraph">
      Flutter est un framework de développement d'applications mobiles, web et desktop développé par Google. Il permet de créer des applications performantes et esthétiques en utilisant un langage de programmation unique, c'est à dire qu'avec une seule base de code, on peut créer des applications pour quasiment toutes les plateformes (iOS, Android, Web, Windows, MacOS, Linux).
    </p>

    <p class="paragraph">
      J'aime beaucoup Flutter, déjà parce qu'il permet de créer des applications multiplateformes avec une seule base de code, ce qui est très efficace, notament pour les petites équipes ou quand on est seul à créer un projet. Flutter offre des designs à la fois d'une grande flexibilité mais aussi d'une grande qualité et ceux de façon très simple à mettre en place. De plus Flutter est un framework open-source, ce qui signifie que la communauté peut contribuer à son développement et à son amélioration, ce qui en fait un choix solide pour les développeurs qui cherchent à créer des applications de haute qualité.
    </p>

    <p class="paragraph">
      Un autre avantage de Flutter est qu'il permet de faire des interfaces naturellement responsive, avec un système de widgets (composants graphiques) qui s'adaptent automatiquement à la taille de l'écran. Ce système est beaucoup plus pratique que du html css classique pour un résultat tous aussi qualitatif et personnalisable mais beaucoup plus simple à mettre en place et à maintenir pour le développeur.
    </p>

    <p class="paragraph">
      Comme l'indique <a href="https://adapty.io/fr/blog/utilisateurs-iphone-vs-android"><b><u>cet article</u></b></a> de février 2026, les utilisateurs d'IOS sont 28% du marché mondial, et les utilisateurs d'Android sont 72% du marché mondial, ce qui signifie que si on créer une application mobile pour une plateforme spécifique, on se prive d'une grande partie du marché potentiel. Avec Flutter, on peut créer une application pour les deux plateformes en même temps, ce qui est un avantage considérable pour les développeurs qui cherchent à atteindre un large public.
    </p>

    <h2 class="title-h2">Mes éléments de preuve</h2>
    <p class="paragraph">
      J'ai réalisé 4 projets en Flutter, dont 3 projets personnels et 1 projet professionnel, ce qui m'a permis de développer une solide expérience en Flutter. Je ne vais passer en revue tous les projets que j'ai réalisé en Flutter, mais je vais me concentrer sur les deux projets les plus significatifs, qui sont Genesis et Econoris. Pour information et si vous voulez en savoir plus sur les autres projets que j'ai réalisé en Flutter, vous pouvez consulter les repertoires GitHub de mes autre projets personnels, à savoir <a href="https://github.com/FloRobart/floraccess_app"><b><u>FlorAccess</u></b></a> et <a href="https://github.com/FloRobart/flollylist_app"><b><u>Flollylist</u></b></a>.
    </p>

    <p class="paragraph">
      Genesis et Econoris possède la même architecture et ont été réalisé en parallele, ce qui m'a permis de faire des aller-retour entre les deux projets pour pouvoir appliquer les bonnes pratiques que j'avais mis en place sur l'un à l'autre, et vice versa. C'est une expérience qui m'a permis de vraiment maîtriser Flutter et de comprendre les subtilités de ce framework, ainsi que les bonnes pratiques à adopter pour créer des applications performantes, maintenables et sécurisées avec Flutter.
    </p>

    <p class="paragraph">
      Dans le cas de Genesis nous avons utilise Flutter pour pluiseurs raison, la première raison c'est que certaine application du groupe Ocea Smart Building sont déjà réalisé en Flutter, ce qui garde un sorte d'homogénéité dans les applications du groupe et le deuxième raison et pas des moindres, c'est que Flutter est un framework qui permet de créer des applications multiplateformes avec une seule base de code. Nous ne somme que 5 développeurs en tous et nous étions que 2 à travailler sur Genesis, ce qui signifie que nous n'avions pas les ressources nécessaires pour créer une application pour chaque plateforme, hors le groupe demandait à se qu'il y ai une application IOS, une application Android et une application Web. Cette contraine nous a donc conforté dans le choix de Flutter, qui nous a permis de créer une application pour les trois plateformes en même temps, ce qui était un avantage considérable pour nous et un choix que nous ne regrettons pas du tout aujourd'hui, puisque l'application est très performante, facilement maintenable et très appréciée par les utilisateurs.
    </p>

    <p class="paragraph">
      La première version de l'application a été réalisé presque entièrement avec l'intelligence artificielle, pour des question de rapidité de développement, parce que ni moi ni mon collègue n'avions d'expérience en Flutter. Cette version bien que fonctionnelle, n'était pas performante, pas maintenable et contenait beaucoup de bugs. Suite à cela j'ai réaliser des recherches approfondies sur les bonnes pratiques de développement en Flutter, ainsi que sur les architectures à adopter pour créer des applications performantes et maintenables avec Flutter. Pendant cette semaine de recherche intense j'ai réalisé une mini documentation sur l'architecture du front-end de Genesis, qui est une architecture optimisée pour Flutter, qui mélange astucieusement les conventions et bonne pratiques de Flutter avec les conventions et bonne pratiques de Riverpod et GoRouteur, qui sont des librairies que nous avons utilisé pour implémenter l'architecture du front-end de Genesis.
    </p>

    <p class="paragraph">
      Cette nouvelles architecture flutter nous à obligé à réécrire quasiment intégralement l'application mais nous a permis de corriger tous les bugs de la première version de l'application et d'optimiser considérablement les performances de l'application, passant d'un temps de chargement maximal de 25 secodnes pour la version 1 à environs 10 secondes pour cette deuxième version.
    </p>

    <p class="paragraph">
      C'est une belle optimisation mais ça reste trop long, j'ai donc continué de faire des recherches et j'ai trouvé une idée. Si, au lieux que chaque page face des calcules sur le set de données qu'on lui donne, on lance les culcules une seul fois quand on reçois les données du backend et de façon asynchrone pour pouvoir afficher les données au fur et à mesure qu'elles sont calculés. Ça ne réduit pas énormément le temps de calcule mais par contre ça permet deux choses essencielle, la première c'est de reduire la perception du temps de chargement pour l'utilisateur, puisque les données s'affiche au fur et à mesure qu'elles sont calculés, et la deuxième chose c'est que ça permet d'éviter de refaire des calcules déjà fais quand l'utilisateur navigue entre les différentes pages de l'application, et donc fluidifie l'expérience utilisateur. Après cette troisième refonte de l'application nous sommes passé d'un temp de chargement maximal de 10 secondes à moins de 1 seconde, se qui est maintenant tout à fait correct.
    </p>

    <p class="paragraph">
      Ses trois refontes de l'application nous ont à la fois permis d'optimiser les performances de l'application, mais aussi de rendre l'application beaucoup plus facilement maintenable, avec une architecture séparer par features et surtout l'application est plus légère que la première version et consomme moins de ressources et de batterie, se qui est important puisqu'elle va être utiliser par des techniciens pendant 7 à 8 heures par jour.
    </p>
    
    <p class="paragraph">
      Sur Econoris j'ai suivi exactement le même processus que pour Genesis, j'ai d'abord réalisé une première version de l'application avec l'intelligence artificielle, qui était fonctionnelle mais pas performante, pas maintenable et qui contenait beaucoup de bugs. Ensuite grâce au recherche que j'ai réalisé pour Genesis, j'ai pu appliquer les mêmes bonnes pratiques et la même architecture que j'avais mis en place pour Genesis à Econoris, ce qui m'a permis d'optimiser considérablement les performances de l'application, de corriger tous les bugs de la première version de l'application et de rendre l'application beaucoup plus facilement maintenable.
    </p>

    <p class="paragraph">
      J'ai pas encore eux le temps de faire une troisième refonte de l'application pour appliquer l'idée que j'ai eu pour Genesis, mais ça fait partie de mes tâches à faire pour les prochaines versions de l'application, puisque c'est une idée qui a vraiment fait ses preuves sur Genesis et qui a permis d'optimiser considérablement les performances de l'application.
    </p>

    <p class="paragraph">
      Econoris à également servie de projet source pour Genesis, c'est à dire que tous se que j'ai appris pendant mes recherches je l'ai appliqué à Econoris, comme par exemple l'utilisation de la librairie Flutter Riverpod pour la gestion de l'état de l'application et le rafrechissement automatique de l'interface quand les données changent. Le hasard du calendrier ont fais que j'ai pu réaliser ses deux projets en parallèle, Genesis sur mes heures de travail et Econoris sur mon temps personnel après le travail.
    </p>

    <p class="paragraph">
      Econoris est plus simple et plus petit que Genesis, ce qui m'a permis d'expérimenter de nouvelles choses et d'apprendre dans un cas concrès réel et simple. Au vue de la complexité de la mise en place de l'architecture et des difficulté que j'ai eu, nous n'aurions jamais réussi à mettre en place cette architecture directement sur Genesis sans se basé sur Econoris, même si nous étions deux développeurs sur Genesis.
    </p>

    <p class="paragraph">
      Econoris possède quelque fonctionnalité pratique de Flutter que je n'ai pas encore eu le temps d'implémenter sur Genesis, comme par exemple un thème sombre et un thème clair, que l'utilisateur peut choisir en fonction de ses préférences. C'est une fonctionnalité qui est très simple à mettre en place avec Flutter, mais qui apporte une réelle plus value pour les utilisateurs, surtout pour une application qui va être utiliser pendant de longue session comme Genesis.
    </p>

    <p class="paragraph">
      À l'inverse, Genesis possède des fonctionnalités plus complexes que je n'ai pas encore eu le temps d'implémenter sur Econoris, comme un "What's new" qui s'affiche à l'ouverture de l'application après une mise à jour pour informer les utilisateurs des nouvelles fonctionnalités et des changements apportés par la mise à jour. Genesis possède également une version Android publié sur le play store privé de l'entreprise, alors que Econoris n'a pour l'instant qu'une version web, qui à d'ailleurs servie de base pour la version web de Genesis, se qui nous à permis de gagner environs deux journée de développement sur la version web de Genesis.
    </p>

    <p class="paragraph">
      Aujourd'hui, je suis très satisfait de l'architecture que j'ai mis en place pour Genesis et Econoris, je pense que c'est une architecture solide, performante, maintenable et sécurisée, qui respecte les bonnes pratiques de développement en Flutter et qui est adaptée aux besoins de nos applications. J'utilise et utiliserais cette architecture pour tous mes projets Flutter à venir, que se sois des projets personnels ou professionnels, puisque c'est une architecture qui a fait ses preuves.
    </p>

    <p class="paragraph">
      J'ai également prévu de refaire les applications <a href="https://github.com/FloRobart/floraccess_app"><b><u>FlorAccess</u></b></a> et <a href="https://github.com/FloRobart/flollylist_app"><b><u>Flollylist</u></b></a> avec cette architecture. J'ai également prévu de faire une documentation technique complète de cette architecture pour pouvoir la transmettre à tous ceux qui iront sur ma documentation, que ce sois des développeurs débutants ou expérimentés, puisque c'est une architecture qui peut être bénéfique pour tous les développeurs Flutter, quelque soit leur niveau d'expérience.
    </p>

    <h2 class="title-h2">Mon autocritique</h2>
    <p class="paragraph">
      Grâce à mes différentes expériences en Flutter, j'ai pu développer une solide expérience en Flutter et je suis aujourd'hui capable de créer des applications performantes, maintenables et sécurisées avec Flutter. Cependant, je pense que j'ai encore beaucoup à apprendre sur Flutter, notamment sur les nouvelles fonctionnalités qui sont régulièrement ajoutées au framework, ainsi que sur les bonnes pratiques de développement qui évoluent avec le temps. Je suis donc conscient que je ne suis pas encore un expert en Flutter, mais je suis motivé pour continuer à apprendre et à m'améliorer dans ce domaine.
    </p>

    <p class="paragraph">
      Je reste également conscient que rien n'est parfait et que mon but n'est pas de faire une architecture parfaite, mais plutôt de faire une architecture qui suffisament bien faite pour s'adapter à quasiment tous les projets Flutter, qu'elle facilement évolutive pour pouvoir être amélioré au fur et à mesure de l'évolution de l'application et de l'évolution de Flutter, et qui respecte les bonnes pratiques de développement en Flutter pour qu'elle sois facilement maintenable par n'importe quel développeur Flutter, quelque soit son niveau d'expérience.
    </p>

    <p class="paragraph">
      Le but d'une architecture n'est pas d'être parfaite, mais plutôt d'être suffisamment bonne pour rendre le travail du ou des développeurs le plus simple possible. Plus le code et l'architecture sont simples, plus il est facile de faire évoluer l'application et c'est ça qui est important pour moi, c'est de faire une architecture qui rend le travail du ou des développeurs le plus simple possible, même si ça signifie que l'architecture n'est pas parfaite. Je préfère une architecture simple et efficace qu'une architecture complexe et difficile à comprendre.
    </p>

    <h2 class="title-h2">Mon évolution dans cette compétence</h2>
    <p class="paragraph">
      Flutter est une compétence que je vais continuer à développer et à améliorer au fil du temps, puisque c'est un framework que j'aime beaucoup et qui offre de nombreuses possibilités pour créer des applications performantes, maintenables et sécurisées. Je vais continuer à faire des projets en Flutter, que se sois des projets personnels ou professionnels, pour continuer à développer mon expérience.
    </p>

    <p class="paragraph">
      Toutes mes applications étant faite avec Flutter, c'est évidemment une compétence qui me servira énormement dans mon projet professionnel, qui est de créer mon entreprise de développement logiciel afin de pouvoir vivre de la création de mes applications. <a href="https://documentation.florobart.fr/01_development/frontend/flutter/"><b><u>Ma documentation Flutter</u></b></a> mais pas que est également une avance sur mon projet professionnel, puisqu'en plus de me servir d'aide mémoire elle me permettra à l'avenir à transmettre mes connaissances et former mes futurs collaborateurs.
    </p>
  </div>
</section>
