---

---

<section class="flex flex-col items-center">
  <div class="max-w-[80%]">
    <h2 class="title-h2">Ma définition</h2>
    <p class="paragraph">
      La gestion de projet est une compétence qui consiste à planifier, organiser, diriger et contrôler les ressources (humaines, financières, matérielles) pour atteindre des objectifs spécifiques dans un délai imparti. Elle implique la coordination de différentes tâches et activités pour assurer la réussite d'un projet, en respectant les contraintes de temps, de budget et de qualité. La gestion de projet nécessite également une communication efficace, c'est pourquoi elle est souvent associée à la compétence de gestion d'équipe.
    </p>

    <p class="paragraph">
      c'est une compétence essentielle pour toute personne qui souhaite devenir chef de projet. Elle permet de garantir que les projets sont menés à bien dans les délais impartis, avec un budget respecté et une qualité satisfaisante.
    </p>

    <p class="paragraph">
      Pour ma part c'est une compétence que je me doit d'avoir, puisque je veux développer mes propres application au seins de mon entreprise, je vais forcément être chef de projet à un moment. On peux même dire que je suis déjà chef de projet, puisque j'ai déjà développé 3 applications, mais la différence par rapport au monde professionnel c'est que je n'ai ni équipe, ni budget, ni de délais à respecter, donc ça reste une gestion de projet très simplifiée, mais je pense que ça m'a déjà permis de développer une bonne base pour la gestion de projet, et que ça m'a permis d'acquérir des compétences en gestion de projet qui me seront très utiles pour la suite.
    </p>

    <p class="paragraph">
      En fait c'est même une très bonne chose que je commence de façon simple parce que se sont avec des exemples simple mais concret que j'apprend le mieux, et que je suis capable de faire le lien entre la théorie et la pratique. Je ne pense pas que ça soit une bonne idée de commencer par apprendre une méthodologie de gestion de projet très complexe, parce que je risque de me perdre dans la théorie et de ne pas réussir à faire le lien avec la pratique, et c'est d'ailleurs se que font beaucoup de manager, et au final il se retrouve avec des dépassements de budget, des retards, et des projets qui ne sont pas à la hauteur de ce qu'ils espéraient, parce qu'ils ont appris une méthodologie de gestion de projet très complexe, qu'ils n'ont pas réussi à appliquer correctement.
    </p>

    <p class="paragraph">
      Et c'est normal, la gestion de projet est une compétence très difficile à aquérir de base alors si en plus on ajoute une méthodologie de gestion de projet très complexe, c'est encore plus difficile à aquérir, voir quasiment impossible. Donc je pense que c'est une bonne chose que je commence de façon simple. Comme ça je construit des bases solides, sur lesquelles j'ajouterai petit à petit des éléments de complexité, et je suis sûr que ça me permettra d'acquérir une très bonne compétence en gestion de projet, qui me permettra de mener à bien tous mes projets.
    </p>

    <h2 class="title-h2">Mes éléments de preuve</h2>
    <p class="paragraph">
      Je n'ai pas encore beaucoup d'expérience en gestion de projet, mais j'en ai quand même quelques une.
    </p>

    <h3 class="title-h3">Jeu Les aventuriers du rail</h3>
    <p class="paragraph">
      Mon expérience la plus complète en gestion de projet, c'est le développement du jeu de société "Les aventuriers du rail". C'est un projet que j'ai réalisé en deuxième années d'IUT avec une équipe de 5 personnes et qui a duré 2 semaines.
    </p>

    <p class="paragraph">
      Sur ce projet j'ai été le chef de projet, j'ai donc été en charge de la planification, de l'organisation, de la direction et du contrôle du projet. Je ne l'ai pas fais tout seul, j'ai été aidé par un de mes coéquipier qui avait une plus grande expertise technique que moi, et qui m'a beaucoup aidé pour la partie technique du projet.
    </p>

    <p class="paragraph">
      Pour mener se projet à bien, la première que j'ai faite c'est évidement les présentartions de chaque membre de l'équipe, pour apprendre à se connaître et pour savoir qui avait quelles compétences. Cela relève plus de la gestion d'équipe que de la gestion de projet, mais c'est une étape très importante pour la suite du projet, parce que ça permet de savoir qui peut faire quoi, et ça permet aussi de créer une bonne ambiance de travail, ce qui est très important pour la réussite du projet.
    </p>

    <p class="paragraph">
      Ensuite nous avons défini ensemble les objectifs du projet, c'est à dire ce que nous voulions faire. Le sujet donné par l'école avait des palier à atteindre, se qui permettait à tous les groupes de pouvoir avoir une note convenable, malgré des très grandes différences de niveau entre les groupes. Nous devions décidé quel palier nous voulions atteindre, et est ce que nous voulions aller au delà de se qui était demandé. Le dernier palier était de faire un jeu complet, avec une interface graphique, et des règles de jeux respecté avec la possibilité de jouer à plusieurs sur le même pc. Finalement nous avons décidé d'atteindre le dernier niveau et de faire en sorte qu'on puisse jouer en multijoueur sur un réseau local, se qui n'étais pas demander mais qu'on trouvais sympathique et qu'on avait les compétences nécessaires.
    </p>

    <p class="paragraph">
      Une fois les objectifs définis, nous avons découpé le projet en plusieurs grosse tâche, que nous avons répartis entre les membres de l'équipe en fonction de leurs compétences et de leurs envies, puis nous avons commencé à travailler sur le projet.
    </p>

    <p class="paragraph">
      En parallèle du développement du projet, j'ai également été en charge de la communication avec les enseignants, pour leur faire des points réguliers sur l'avancement du projet. J'étais également en charge de la rédaction du rapport de projet. En temps normal je donne les rapports aux membre de l'équipe le moins fort techniquement pour qu'il puisse quand même avoir un rôle centrale dans l'équipe et qu'il puisse apprendre de tous les autres membres de l'équipe, mais sur ce projet j'avais que des coéquipiers qui étaient très bon techniquement, et aucun d'entre eux ne voulais faire le rapport, donc en tant que chef de projet j'ai pris en charge cette tâche.
    </p>

    <p class="paragraph">
      Tous ses bien déroulé, nous avons réussi à faire un très bon projet, qui nous à value les félicitations de nos enseignants, et qui nous à permis d'avoir la note la plus élevé de la promotion sur ce projet, avec une note de 19/20. C'est un projet dont je suis très fier, parce qu'il était ambitieux, qu'il a demandé beaucoup de travail et de coordination, et qu'il a été réalisé en relativement peu de temps.
    </p>

    <p class="paragraph">
      La gestion de projet bien que très correct et satisfaisante pour tous les membres de l'équipe, n'était pas parfaite, par exemple, les tâches n'étaient pas toujours répartis de manière équitable, certain on eu plus de travail que d'autre. Elles étaient également tros grosse, dans l'édial il aurais fallu faire des tâches plus petite, pour pouvoir mieux suivre l'avancement du projet et pour pouvoir mieux répartir le travail entre les membres de l'équipe.
    </p>

    <h3 class="title-h3">Econoris</h3>
    <p class="paragraph">
      J'ai également une expérience en gestion de projet avec le développement de mes applications personnelles, comme par exemple Econoris. Je doit gérer les mise à jour de l'application, les nouvelles fonctionnalités à développer, les bugs à corriger et le tous sur l'application elle même, sur l'API et sur la base de données. Je doit également gérer la communication avec les utilisateurs, pour les tenirs informer des mise à jour et de se qui à été ajouter à chaque mise à jour.
    </p>

    <p class="paragraph">
      C'est avec éconoris que j'ai vraiment progressé en gestion de projet. Grâce au fait que j'ai moins de contrainte je peux expérimenter différentes façons de faire, pour voir laquelle est la plus efficace pour moi, et pour voir comment je peux faire évoluer ma gestion de projet au fur et à mesure que j'acquière de nouvelles compétences.
    </p>

    <p class="paragraph">
      En fait sur Econoris je n'ai pas besoins de gérer le budget, ni de gérer une équipe, ni de respecter des délais, donc je peux me concentrer uniquement sur la planification, l'organisation et la direction du projet, ce qui me permet d'aquérir de très bonnes compétences dans la base de la gestion de projet. Avec ses bases très solides, j'aurais simplement à ajouter les autres composantes de la gestion de projet pour pouvoir gérer n'importe quel projet, même les plus complexe, avec des équipes de plusieurs personnes, des budgets importants et des délais serrés.
    </p>

    <p class="paragraph">
      La première chose que je vais ajouté c'est la gestion du temps, parce que c'est la composante de la gestion de projet qui me semble la plus importante et aussi la plus facile à intégrer. Je vais simplement essayer d'éstimer le temps que je vais mettre pour faire chaque tâche, et essayer de respecter ces estimations, pour m'entraîner à gérer mon temps et à bien estimer le temps que je vais mettre pour faire chaque tâche.
    </p>

    <p class="paragraph">
      Ensuite je vais ajouté la gestion d'équipe, en recrutant des personnes pour m'aider à développer mes applications. Se sera simple parce que je ne vais pas recruter dix personnes d'un coup, je vais simplement recruter une personne et si besoins j'en recruterai une autre par la suite, comme ça je pourrais m'entraîner à gérer une équipe de plus en plus grande, sans avoir à gérer trop de personnes d'un coup, ce qui me permettra de mieux gérer mon équipe et de mieux gérer les projets que je vais faire avec cette équipe.
    </p>

    <p class="paragraph">
      La dimention financière quand à elle, n'est qu'une conséquence de la gestion d'équipe et de la gestion du temps, donc je n'ai pas besoin de m'en soucié, si la gestion du temps et de l'équipe et respecté, alors la gestion financière le sera également. Se qui coute de l'argent dans un projet, c'est le temps de travail de chaque personne impliqué dans le projet, donc si je gère bien le temps et l'équipe, alors je gère bien le budget. 
    </p>

    <h2 class="title-h2">Mon autocritique</h2>
    <p class="paragraph">
      La gestion de projet est une compétence que je suis encore en train d'acquérir, donc je n'ai pas encore une grande expérience dans ce domaine. Cependant, j'ai déjà des bases solide sur la gestion des tâches et je suis capable de passer d'une idée à une liste de tâches précise à réaliser. J'ai également un plan d'apprentissage par la pratique qui me semble très efficace pour acquérir cette compétence.
    </p>

    <p class="paragraph">
      Je suis donc sur de pouvoir acquérir une très bonne maitrise de la gestion de projet, mais je suis également conscient que ça ne va pas être facile, et que ça va demander beaucoup de travail et de pratique pour y arriver. Je vais devoir faire face à des défis et à des obstacles, mais je suis prêt à les affronter et à les surmonter pour atteindre mon objectif d'acquérir une très bonne compétence en gestion de projet.
    </p>

    <p class="paragraph">
      Le plus important dans la gestion de projet c'est de ne pas se précipiter et d'y aller par étape. C'est beaucoup trop difficile d'essayer de tous apprendre en même et c'est la porte ouvert aux erreurs. Ils font donc apprendre chaque composantes de la gestions les un après les autres, en commençant par les composantes les plus simple et en ajoutant petit à petit des éléments de complexité, pour construire une gestion de projet solide et efficace.
    </p>

    <h2 class="title-h2">Mon évolution dans cette compétence</h2>
    <p class="paragraph">
      La gestion de projet est une compétence obligatoire pour toute personne qui souhaite réaliser ses propres idées, c'est pourquoi je me doit de l'acquérir. Cependant, c'est une compétence très difficile à acquérir, parce qu'elle demande de gérer plusieurs composantes en même temps, comme la gestion du temps et la gestion d'équipe, et que chacune de ces composantes est déjà difficile à acquérir de base, alors les gérer en même temps c'est encore plus compliqué.
    </p>

    <p class="paragraph">
      Comme énoncer plus haut, j'ai déjà une bonne gestion des tâches, je suis capable de faire une liste de tâche précise à partir d'une idée. Maintenant il ne me reste plus qu'à apprendre à gérer mon temps et à gérer une équipe, pour pouvoir faire du projet de plus en plus complexe.
    </p>

    <p class="paragraph">
      La gestion du temps est la composante que je compte apprendre en premier juste après mon alternance. La gestion d'équipe est en fait ni plus ni moins que la compétence travail d'équipe, donc c'est quelque chose que je maîtrise déjà plutôt bien, comme vous pourrez le constaté dans la section travail d'équipe.
    </p>
  </div>
</section>
