---

---

<section class="flex flex-col items-center">
  <div class="max-w-[80%]">
    <h2 class="title-h2">Ma définition</h2>
    <p class="paragraph">
      La gestion de projet est une compétence qui consiste à planifier, organiser, diriger et contrôler les ressources (humaines, financières, matérielles) pour atteindre des objectifs spécifiques dans un délai imparti. Elle implique la coordination de différentes tâches et activités pour assurer la réussite d'un projet, en respectant les contraintes de temps, de budget et de qualité. La gestion de projet nécessite également une communication efficace, c'est pourquoi elle est souvent associée à la compétence de gestion d'équipe.
    </p>

    <p class="paragraph">
      c'est une compétence essentielle pour toute personne qui souhaite devenir chef de projet. Elle permet de garantir que les projets sont menés à bien dans les délais impartis, avec un budget respecté et une qualité satisfaisante.
    </p>

    <p class="paragraph">
      Pour ma part c'est une compétence que je me doit d'avoir, puisque je veux développer mes propres application au seins de mon entreprise, je vais forcément être chef de projet à un moment. On peux même dire que je suis déjà chef de projet, puisque j'ai déjà développé 3 applications, mais la différence par rapport au monde professionnel c'est que je n'ai ni équipe, ni budget, ni de délais à respecter, donc ça reste une gestion de projet très simplifiée, mais je pense que ça m'a déjà permis de développer une bonne base pour la gestion de projet, et que ça m'a permis d'acquérir des compétences en gestion de projet qui me seront très utiles pour la suite.
    </p>

    <p class="paragraph">
      En fait c'est même une très bonne chose que je commence de façon simple parce que se sont avec des exemples simple mais concret que j'apprend le mieux, et que je suis capable de faire le lien entre la théorie et la pratique. Je ne pense pas que ça soit une bonne idée de commencer par apprendre une méthodologie de gestion de projet très complexe, parce que je risque de me perdre dans la théorie et de ne pas réussir à faire le lien avec la pratique, et c'est d'ailleurs se que font beaucoup de manager, et au final il se retrouve avec des dépassements de budget, des retards, et des projets qui ne sont pas à la hauteur de ce qu'ils espéraient, parce qu'ils ont appris une méthodologie de gestion de projet très complexe, qu'ils n'ont pas réussi à appliquer correctement.
    </p>

    <p class="paragraph">
      Et c'est normal, la gestion de projet est une compétence très difficile à aquérir de base alors si en plus on ajoute une méthodologie de gestion de projet très complexe, c'est encore plus difficile à aquérir, voir quasiment impossible. Donc je pense que c'est une bonne chose que je commence de façon simple. Comme ça je construit des bases solides, sur lesquelles j'ajouterai petit à petit des éléments de complexité, et je suis sûr que ça me permettra d'acquérir une très bonne compétence en gestion de projet, qui me permettra de mener à bien tous mes projets.
    </p>

    <h2 class="title-h2">Mes éléments de preuve</h2>
    <p class="paragraph">
      <!-- Jeu Les aventuriers du rail -->
    </p>

    <h2 class="title-h2">Mon autocritique</h2>
    <p class="paragraph">
      Paragraphe
    </p>

    <h2 class="title-h2">Mon évolution dans cette compétence</h2>
    <p class="paragraph">
      Paragraphe
    </p>
  </div>
</section>
