---

---

<section class="flex flex-col items-center">
  <div class="max-w-[80%]">
    <h2 class="title-h2">Ma définition</h2>
    <p class="paragraph">
      L'ingéniosité est la capacité à trouver des solutions à des problèmes, complèxe ou non, uniqument à partir de connaissances et de ressources déjà existantes. Elle implique l'utilisation de l'imagination mais ausi des connaissances techniques approfondies pour concevoir des idées innovantes, pratiques et surtout réalisables. L'ingéniosité c'est un peu l'art de tordre les règles et les principes d'un domaine pour créer quelque chose ou surmonter un obstacle de manière optimale et toujours sans faire de grandes découvertes.
    </p>

    <p class="paragraph">
      Le fais de ne pas faire de grandes découvertes est un aspect important de ma définition de l'ingéniosité, parce que c'est se qui sépare l'ingéniosité et l'innovation. L'innovation implique souvent la création de quelque chose de nouveau ou de potentiellement révolutionnaire, tandis que l'ingéniosité se concentre sur l'utilisation intelligente de ce qui existe déjà pour résoudre des problèmes ou créer des solutions efficaces. L'ingéniosité peut être appliquée dans de nombreux domaines, que ce soit dans la conception de produits, la résolution de problèmes techniques, la gestion de projets ou même dans la vie quotidienne.
    </p>

    <p class="paragraph">
      L'informatique est un domaine remplie de solution ingénieuse, comme dans <a href="https://fr.wikipedia.org/wiki/Super_Mario_Bros."><b><u>Super Mario Bros.</u></b></a>, où les développeurs ont réutilisé des textures en changeant leur couleur et leur orientation afin d'en créer des nouvelles sans augmenter la taille final du jeu en mémoire. Je pense également à <a href="https://fr.wikipedia.org/wiki/Git"><b><u>Git</u></b></a>, qui sauvegarde les données de manière intelligente en ne stockant que les différences entre les versions, ce qui permet d'économiser de l'espace de stockage et d'améliorer les performances. Et surment l'une des plus grandes démonstrations d'ingéniosité en informatique de ses 20 dernières années est sans doute <a href="https://fr.wikipedia.org/wiki/Bitcoin"><b><u>Bitcoin</u></b></a>, qui sans faire de découvertes révolutionnaires en cryptographie, a su combiner des concepts existants de manière innovante pour créer une monnaie numérique décentralisée et plus sécurisée qu'aucune autre monnaie.
    </p>

    <p class="paragraph">
      Je pourrais continuer à citer des exemples d'ingéniosité en informatique pendant des heures, mais je pense que ces trois exemples suffisent à illustrer comment l'ingéniosité peut se manifester dans ce domaine, que ce soit à travers la création de jeux vidéo, la gestion de données ou la conception de systèmes financiers. L'ingéniosité en informatique est essentielle pour faire avancer la technologie et résoudre les défis complexes auxquels nous sommes confrontés dans notre monde numérique en constante évolution. Pour moi ses exemples montrent parfaitement ma vision de l'ingéniosité, c'est à dire la capacité à trouver des solutions à des problèmes complexes uniquement à partir de connaissances et de ressources déjà existantes, sans faire de découvertes révolutionnaires.
    </p>

    <h2 class="title-h2">Mes éléments de preuve</h2>
    <p class="paragraph">
      Là où je pense que j'ai le mieux démontré mon ingéniosité, c'est dans la création de mon projet <a href="/projets/floraccess"><b><u>FlorAccess</u></b></a>, qui est une API d'authentification sans mot de passe que j'ai développé pour avoir un système d'authentification centralisé et simplifier la vie des utilisateurs de tous mes projets. Ça me permet également de créer un écosystème et donc d'interconnecter tous mes projets entre eux. Pour créer FlorAccess, je n'ai rien inventé de nouveau, j'ai simplement réutilisé des technologies et des concepts déjà existants, comme les JSON Web Tokens (JWT) pour la gestion des sessions, et la validation d'un code à usage unique (OTP) pour l'authentification.
    </p>

    <p class="paragraph">
      Je trouvais l'authentification par mot de passe trop contraignante pour l'utilisateur, et j'ai remarqué un point de faiblesse dans les systèmes d'authentification traditionnels. Je me suis donc demander, comment faire pour que les utilisateurs puissent se connecter à mes projets de manière plus simple et au moins aussi sécurisée que les systèmes d'authentification traditionnels ? L'authentification, c'est comme une chaine, c'est à dire que la sécurité de l'ensemble du système dépend de la sécurité de chaque maillon de la chaine. C'est à dire qu'un système d'authentification est aussi sécurisé que son maillon le plus faible. Pour les authentifications par mot de passe traditionnelles, le mot de passe aura bon être infiniment long et complexe, il peut toujours être contourné, notamment par la fonction de réinitialisation de mot de passe, qui est souvent le maillon le plus faible de la chaine.
    </p>

    <p class="paragraph">
      Ma réflexion a été la suivante, si le mot de passe peu être contourné, alors pourquoi ne pas simplement s'en passer, en faisant en sorte de toujours utiliser la fonction de réinitialisation de mot de passe. En utilisant un code à usage unique (OTP) envoyé par email, je peux garantir que seul l'utilisateur ayant accès à l'email associé au compte peut se connecter, ce qui rend le système d'authentification aussi sécurisé que les systèmes traditionnels, tout en étant beaucoup plus simple à utiliser pour les utilisateurs. De plus, en utilisant des JSON Web Tokens (JWT) pour la gestion des sessions, je peux garantir que les sessions sont sécurisées et facilement gérables, sans avoir à stocker des informations sensibles côté serveur.
    </p>

    <p class="paragraph">
      Maintenant que j'ai trouvé une solution ingénieuse pour résoudre le problème de l'authentification, je me suis demandé qu'elle était la faille la plus commune dans les systèmes d'authentification traditionnels après le mot de passe (que j'ai supprimé dans FlorAccess), et comment je pouvais faire pour la contourner. J'ai remarqué que la faille la plus commune était l'humain. Donc la question est, comment faire en sorte que les utilisateurs fassent moins d'erreurs humaines ? L'erreur humaine la plus commune est de faire confiance à un mail malveillant parce que l'utilisateur pense qu'il s'agit d'un mail légitime.
    </p>

    <p class="paragraph">
      C'est là qu'entre en jeux la deuxième solution ingénieuse. Pour contourner cette faille, il faut une information dans le mail que l'utilisateur peut vérifier pour s'assurer que le mail est légitime. Cette information ne doit pas être un lien puisque les liens peuvent être facilement falsifiés. Il faut plutôt une information que l'utilisateur peut vérifier en allant sur le site de lui même, depuis ses favoris par exemple, comme ça il est certain d'être sur le site légitime. Si je met un lien, une personne malveillante peut facilement créer un lien qui ressemble à celui de mon site, et ainsi tromper les utilisateurs. En mettant une information que les utilisateurs peuvent vérifier par eux même, je donne un outils fiable pour que les utilisateurs se protègent dest attaques par phishing. Le but ici c'est vraiment de donner aux utilisateurs les moyens de se protéger eux même, plutôt que de simplement leur dire de faire attention, ce qui est souvent inefficace. En donnant aux utilisateurs les moyens de vérifier l'authenticité des mails qu'ils reçoivent, je peux réduire considérablement le risque d'attaques par phishing et ainsi améliorer la sécurité globale du système d'authentification.
    </p>

    <p class="paragraph">
      J'ai donc ajouté un token dans chaque mail créer à partir des informations de l'utilisateur à qui appartient le mail ainsi que divert autre informations dont un secret partagé entre le serveur et l'utilisateur. Ensuite les utilisateurs peuvent vérifier l'autheu sitnticité de se token en allant sur un page spécifique de de lui même, et en entrant le token qu'il a reçu par mail. Si le token est valide, alors l'utilisateur peut être sûr que le mail qu'il a reçu est légitime, et ainsi éviter de tomber dans les pièges des attaques par phishing. Se qui fais la sécurité ici c'est que la génération du token est suffisamment complexe pour qu'il soit impossible à une personne malveillante de le deviner ou de le falsifier, même si elle connaît les informations de l'utilisateur. De plus, en utilisant un secret partagé entre le serveur et l'utilisateur, je peux garantir que seul le serveur peut générer des tokens valides, ce qui rend le système encore plus sécurisé contre les attaques par phishing.
    </p>

    <p class="paragraph">
      Maintenant la dernière faille c'est si l'email de l'utilisateur est compromis. J'ai des solutions à se problème, notament en utilisant des applications d'authentification tierces comme Google Authenticator mais on retombe sur le même problème, à savoir, et si l'application d'authentification tierce est compromise ? D'autre solution encore plus sécurisé existent, comme les clés de sécurité physiques, mais ses solutions ont toutes un point commun, c'est qu'elles très complexes à mettre en place pour les utilisateurs, et donc cela complique trop la vie des utilisateurs, par conséquent on perd l'objectif de simplicité que je voulais atteindre avec FlorAccess.
    </p>

    <h2 class="title-h2">Mon autocritique</h2>
    <p class="paragraph">
      J'ai toujours été ingénieux, déjà en primaire je trouvais des solutions ingénieuses, notamment en mathématique pour calculer plus rapidement ou pour trouver des astuces pour résoudre les problèmes plus facilement. Une fois que j'ai bien compris un concepte j'arrive souvent à le décomposer en sous système plus simple, et à utiliser ces sous systèmes pour trouver des solutions ingénieuses à des problèmes plus complexes. Je pense que c'est une de mes forces, et c'est pour ça que je me considère comme ingénieux.
    </p>

    <p class="paragraph">
      En informatique, une personne même très forte techniquement sera toujours stoper par un plafond de verre à un moment ou à un autre, et c'est là où être ingénieux devient important, parce que c'est ce qui permet de contourner ce plafond de verre et de continuer à avancer et à créer des choses malgré les obstacles techniques.
    </p>

    <p class="paragraph">
      Pour devenir ingénieux, il y a deux choses importantes à faire. La première c'est d'acquérir des connaissances techniques approfondies dans le domaine dans lequel on veut être ingénieux, parce que l'ingéniosité repose sur l'utilisation intelligente de ce qui existe déjà, donc il faut connaître ce qui existe déjà pour pouvoir l'utiliser de manière ingénieuse. La deuxième chose c'est de ne jamais s'arrêter à se qu'on nous dis, il faut tous remettre en question, quand on vous donne les limites d'une technologie, il faut se demander, pourquoi est ce que se serais ça les limites ? Est ce que c'est vraiment les limites de la technologie, ou est ce que c'est juste les limites de notre compréhension actuelle de la technologie ? En remettant tout en question et en cherchant à comprendre les limites réelles d'une technologie, on peut souvent trouver des solutions ingénieuses pour contourner ces limites et ainsi continuer à avancer et à créer des choses malgré les obstacles techniques.
    </p>

    <p class="paragraph">
      Attention quand même à ne pas tomber dans le piège de se dire que tout est possible et que les limites n'existent pas, parce que c'est faux, il y a des limites réelles à ce qui est possible de faire avec la technologie actuelle, se que je dis c'est simplement qu'il faut tester ses limites, comprendre leurs causes et ne pas les accepter aveuglément.
    </p>

    <h2 class="title-h2">Mon évolution dans cette compétence</h2>
    <p class="paragraph">
      Cette compétence est la base de mon projet professionnel, à chaque fois que je rencontre un problème, quelqu'il soit, je me dis, d'où viens se problème, est que je vais le rencontrer souvent, est ce que des solutions satisfaisante existent déjà, et en fonction des réponses à ces questions, je me demande si je peux trouver une solution ingénieuse pour résoudre ce problème, ou si je dois simplement utiliser une solution déjà existante.
    </p>

    <p class="paragraph">
      Toutes mes applications sans exception repose sur ce principe, par exemple FlorAccess est née d'un problème que j'ai rencontré, à savoir, je voulais un système d'authentification centralisé pour tous mes projets mais qui sois d'une simplicité extrême pour les utilisateurs, Econoris est née parce qu'aucune solution simple et qui permet de connaitre à l'avance l'argent que je peux dépenser n'existait, Flollylist est née parce que je n'arrivais pas à retenir toutes les personnes à qui je devais faire des cadeaux de noël et que quand je trouvais une idée de cadeau pour quelqu'un, cette idée si elle étais noté se perdais dans mes notes et n'était jamais utilisée au moment de faire les cadeaux de noël.
    </p>

    <p class="paragraph">
      Bref tous mes projets sont nés d'un problème que j'ai rencontré, et pour lequel je n'ai pas trouvé de solution satisfaisante et c'est la où l'ingéniosité entre en jeux, parce que c'est ce qui me permet de trouver des solutions ingénieuses pour résoudre ces problèmes et ainsi créer des applications qui répondent parfaitement à mes besoins et à ceux de mes utilisateurs. C'est donc à l'ingéniosité que je dois l'envie de créer mon entreprise de developpement logiciel.
    </p>
  </div>
</section>
