---

---

<section class="flex flex-col items-center">
  <div class="max-w-[80%]">
    <h2 class="title-h2">Ma définition</h2>
    <p class="paragraph">
      Linux est un noyau de système d'exploitation libre et open source, développé initialement par Linus Torvalds en 1991. Il est utilisé dans une grande variété de systèmes, allant des serveurs aux ordinateurs personnels, en passant par les appareils mobiles et les systèmes embarqués. Linux est connu pour sa stabilité, sa sécurité et sa flexibilité, ce qui en fait un choix populaire pour les développeurs et les administrateurs système.
    </p>

    <p class="paragraph">
      Linux est l'un des plus grand, si se n'est le plus grand projet de logiciel libre au monde, avec une communauté de développeurs et d'utilisateurs très active. Il permet à n'importe qui de déployer, sur n'importe quel matériel, un système d'exploitation complet, personnalisable et surtout sécurisé.
    </p>

    <p class="paragraph">
      Linux, bien qu'il ne sois pas très connu du grand public, est partout. Il est utilisé sur <a href="https://www.tecmint.com/why-the-world-runs-on-linux/">96,3% des serveurs web</a>, 100% des supercalculateurs, 5,27 Milliard de téléphones mobiles à travers le monde. Mais se n'est pas tous, il est également utilisé dans l'arérospacial, les machines industrielles, les voitures, les télévisions, les montres connectées, les frigos, les machines à laver, les imprimantes 3D, les caisses automatique, les robots et même dans les systèmes de contrôle de la circulation aérienne. Linux est utilisé sur tout les continent, même dans les pays les plus fermés, comme la Corée du Nord et fonctionne sur quasiment tous les matériels, même les plus anciens, et même dans les environnements les plus extrême, comme la station spatiale internationale ou les profondeurs de l'océan.
    </p>

    <p class="paragraph">
      Linux est un système d'exploitation incroyablement polyvalent et puissant, qui a révolutionné le monde de l'informatique et continue de jouer un rôle crucial dans l'innovation technologique à travers le monde.
    </p>

    <p class="paragraph">
      Paradoxalement, et malgré son omniprésence et son importance dans le monde de l'informatique, Linux reste relativement méconnu du grand public parce que n'a que 5% de part de marché sur les ordinateurs personnels. Si Linux est aussi peu représenté sur les ordinateurs personnels, c'est en partie parce que les fabricants d'ordinateurs préfèrent préinstaller des systèmes d'exploitation propriétaires comme Windows a cause de contrats d'exclusivité et de partenariats commerciaux.
    </p>

    <p class="paragraph">
      Linux étant un système d'exploitation libre et open source, il ne peux pas payé pour être préinstallé sur les ordinateurs, contrairement à Windows. De plus, Linux est souvent perçu comme étant plus difficile à utiliser que les systèmes d'exploitation propriétaires, ce qui peut décourager les utilisateurs novices. Cependant, il existe de nombreuses distributions Linux conviviales et faciles à utiliser, qui offrent une expérience utilisateur similaire et même souvent meilleure que les systèmes d'exploitation propriétaires mais qui sont souvent méconnues du grand public parce qu'il faut les installer soi même, ce qui n'est pas envisageable pour la plupart des utilisateurs.
    </p>

    <p class="paragraph">
      Avant de continué, on va clarifier quelque chose tous de suite, Linux n'est pas un système d'exploitation, mais plutôt un noyau de système d'exploitation. Un noyau est la partie centrale d'un système d'exploitation qui gère les ressources matérielles et permet aux logiciels de fonctionner. Linux est le noyau mais il a besoin d'autres composants pour former un système d'exploitation complet, comme les bibliothèques, les outils et les applications. C'est pourquoi on parle souvent de <a href="https://fr.wikipedia.org/wiki/Distribution_Linux"><b><u>"distributions Linux"</u></b></a>, qui sont des systèmes d'exploitation complets basés sur le noyau Linux, comme Ubuntu, Debian, Fedora, Arch Linux, etc. Je ne vais pas toute les énumérer, il en existe des centaines, chacune avec ses propres caractéristiques et avantages.
    </p>

    <h2 class="title-h2">Mes éléments de preuve</h2>
    <p class="paragraph">
      Personnellement, j'utilise la distribution Ubuntu depuis 2023, et je ne pourrais pas être plus satisfait de mon choix. Linux m'a permis d'apprendre énormément sur le fonctionnement des systèmes d'exploitation, la ligne de commande, la programmation et l'administration système.
    </p>

    <p class="paragraph">
      Ubuntu est une distribution Linux conviviale et facile à utiliser, elle permet à la fois de ne pas perdre de temps à configurer le système et de pouvoir personnaliser et optimiser son système d'exploitation à sa guise. J'ai également utilisé d'autres distributions Linux, comme Debian (+ KDE Plasma) mais je dois avouer que je préfère Ubuntu pour sa simplicité et son paramétrage par défaut qui est plus adapter à mon usage que Debian qui peux parfois nécessiter plus de configuration.
    </p>

    <p class="paragraph">
      Ubuntu utilise une base Debian, c'est à dire qu'en réalité, Ubuntu utilise Debian avec Gnome comme environnement de bureau, se qui à un avantage c'est que toutes les applications qui sont disponible pour Debian sont également disponible pour Ubuntu, et que les compétences que j'ai acquise en utilisant Ubuntu sont également applicable à Debian, et à toutes les autres distributions Linux basées sur Debian.
    </p>

    <p class="paragraph">
      Cette compatibilité entre Debian et Ubuntu est un avantage non négligeable, car Debian est la <a href="https://www.amenschool.fr/centos-debian-ubuntu-quelle-distribution-linux-pour-serveur/#:~:text=CentOS%20est%20avec%20Ubuntu%20Server,particuli%C3%A8rement%20long%20de%20chaque%20version.">distribution Linux la plus populaire pour les serveurs</a>, et Ubuntu est la <a href="https://www.codeur.com/blog/distributions-linux-incontournables/#:~:text=Ubuntu%20%3A%20la%20distribution%20Linux%20grand,2004%20est%20bas%C3%A9e%20sur%20Debian.">distribution Linux la plus populaire pour les ordinateurs personnels</a>, ce qui signifie que les compétences que j'ai acquise en utilisant Ubuntu sont également applicable à l'administration de serveurs Linux, ce qui est un atout considérable pour ma carrière professionnelle.
    </p>

    <p class="paragraph">
      Les deux distributions, Debian et Ubuntu, sont très populaires et largement utilisées dans le monde de l'informatique, que ce soit pour les ordinateurs personnels ou les serveurs. Elles sont toutes les deux basées sur le noyau Linux et partagent de nombreuses caractéristiques, ce qui permet une grande compatibilité entre les deux. Elle partage notament le même système de gestion de paquets, APT, ainsi que le même format de paquets, les .deb, ce qui signifie qu'un application servi via un fichier .deb est compatible avec les deux distributions, mais aussi avec toutes les autres distributions utilisant le même format de paquets, comme Linux Mint, Pop!_OS, Elementary OS, etc.
    </p>

    <!-- App Linux (Maven Lite) -->
    <p class="paragraph">
      J'ai notament créer Maven Lite, qui est une application pour les developpeurs Java, qui est litéralement une version allégé de Maven. Maven Lite permet de créer, comfigurer, compiler, lancé et packager des projets Java, le tout via une ligne de commande simple et intuitive. Maven Lite est disponible sur Linux, Windows et MacOS, mais j'ai principalement développé et testé l'application sur Linux.
    </p>

    <p class="paragraph">
      Maven Lite est donc entre autre disponible sur Linux via un fichier .deb, ce qui signifie que les utilisateurs de Debian, Ubuntu et toutes les autres distributions basées sur Debian peuvent facilement installer l'application en téléchargant le fichier .deb et en l'installant via la ligne de commande ou via un gestionnaire de paquets graphique. Maven Lite est également compatible avec toutes les autres systèmes d'exploitation, que se sois d'autre distributions Linux, Windows ou MacOS, grâce à des fichiers d'installation spécifiques pour chaque système d'exploitation.
    </p>

    <p class="paragraph">
      Maven Lite passède grâce à son fichier deb des pages de manuel qui permet aux utilisateurs de consulter la documentation de l'application directement depuis la ligne de commande, ce qui est un avantage considérable pour les utilisateurs de Linux qui sont habitués à utiliser la ligne de commande pour gérer leurs applications et leurs systèmes.
    </p>

    <p class="paragraph">
      Le fais que je sois capable de développer une application pour Linux, de la rendre disponible via un fichier .deb, et de fournir une documentation accessible depuis la ligne de commande, démontre ma maîtrise de l'environnement Linux et ma capacité à créer des applications compatibles avec ce système d'exploitation.
    </p>

    <!-- Installation maison -->
    <p class="paragraph">
      Je ne sais pas seulement utiliser Linux, mais je suis également capable de l'installer et de le configurer moi même sur n'importe quel matériel. J'ai notamment installé Ubuntu Desktop sur mon ordinateur personnel, qui est un Dell, avec un processeur Intel Core i7, 16 Go de RAM et un disque dur de 512 Go.
    </p>

    <p class="paragraph">
      Avant l'installation, j'ai utilisé GParted pour ranger physiquement mon disque dur, c'est à dire que GParted à pris tous les octets de mon disque dur et les à mis les un à la suite des autres, sans laisser d'espace vide entre eux. C'est important parce que cela permet d'optimiser les performances du disque dur et de réduire les risques de fragmentation des fichiers lors du partitionnement.
    </p>

    <p class="paragraph">
      L'étape de rangement m'a donc permis de créer une partition de 100 Go pour Ubuntu et une partition de 400 Go pour Windows. Le fais que le disque dur soit rangé physiquement permet de créer une partition, c'est à dire qu'on sépare le disque dur en plusieurs parties. En l'occurrence, j'ai créé une partition de 100 Go pour Ubuntu et une partition de 400 Go pour Windows. En rélalité, j'ai plutôt réduit la partition Windows de 500 Go à 400 Go pour libérer de l'espace pour la partition Ubuntu, mais le résultat est le même, j'ai créé une partition de 100 Go pour Ubuntu et une partition de 400 Go pour Windows qui contient toutes mes données puisqu'avant l'installation de Linux, j'étais uniquement sous Windows.
    </p>

    <p class="paragraph">
      Après le partitionnement, j'ai utilisé une clé USB bootable, préalablement créée avec l'outil Ventoy, pour installer Ubuntu sur la partition de 100 Go que j'avais créée. L'installation s'est déroulée sans problème, et j'ai pu configurer le dual boot pour pouvoir choisir entre Windows et Ubuntu au démarrage de mon ordinateur. La première installation de Linux m'a pris environs 1 heure, se qui est déjà pas mal pour l'installation d'un système d'exploitation, mais aujourd'hui, après plusieurs dizaines d'installation de Linux, je suis capable d'installer et de configurer Linux en moins de 10 minutes.
    </p>

    <p class="paragraph">
      J'ai d'ailleurs trois serveur Linux à la maison, qui sont tous basé sur Debian, et qui me servent à la fois à heberger les anciennes versions de mes projets, ainsi que de serveur de développement et de test pour mes projets en cours. J'ai installé Debian sans environnement de bureau sur chacun de ces serveurs, ce qui me permet de les administrer entièrement via la ligne de commande, ce qui est un avantage considérable pour l'administration de serveurs Linux, car cela permet d'optimiser les performances et la sécurité du système en évitant d'installer des logiciels inutiles.
    </p>

    <p class="paragraph">
      Ces serveurs ne sont pas visible sur internet, ils sont uniquement accessible depuis mon réseau local, ce qui me permet de les utiliser en toute sécurité pour héberger mes projets et tester mes applications dans un environnement Linux réel et similaire à celui de mon serveur de production chez OVH.
    </p>

    <!-- VPS OVH -->
    <p class="paragraph">
      J'ai aussi un Virtual Private Server (VPS) chez OVH, qui est un hébergeur de serveurs Linux très populaire. Mon VPS est basé sur Debian, et il me sert à héberger mes projets en production. C'est notament sur ce VPS que j'ai hébergé Econoris, FlorAccess, Flollylist, la liste de mes projets, ma documentation, mon CV ainsi que ce portfolio.
    </p>

    <p class="paragraph">
      Avant de mettre mes projets en production sur mon VPS, j'ai configuré le serveur pour qu'il soit sécurisé et optimisé pour l'hébergement de mes applications. J'ai commencé par modifier le port SSH par défaut pour éviter les attaques de force brute, j'ai autorisé uniquement les connexions SSH avec des clés publiques pour renforcer la sécurité et j'ai fermer absolument tous les ports, sauf celui que j'utilise pour SSH. Si aucun port n'est ouvert, cela signifie que personne ne peux se connecter à mon serveur, sauf moi via SSH, ce qui constitue une des meilleure configuration de sécurité possible pour un serveur Linux, car cela réduit considérablement les risques d'attaques et de compromission du serveur.
    </p>

    <p class="paragraph">
      Ensuite j'ai installé Docker, pour pouvoir déployer mes applications dans des conteneurs, ce qui me permet d'optimiser les performances et la sécurité de mes applications en les isolant les unes des autres en plus des isolés du système hôte.
    </p>

    <p class="paragraph">
      J'ai également installé GIT pour pouvoir récupérer certains dépôts de façon simple et rapide depuis mon GitHub. C'est notament grâce à cette techniquement que je peux mettre à jour ce portfolio ou ma documentation en moins de 5 minutes, en modifiant les fichiers localement sur mon ordinateur, puis en les poussant sur GitHub, et enfin en récupérant les modifications sur mon VPS via la ligne de commande.
    </p>

    <p class="paragraph">
      En plus de mon expérience personnelle avec Linux, j'ai également la chance d'être sur des PC Ubuntu dans mon entreprise, ce qui me permet d'utiliser Linux à la fois chez moi et au travail, ce qui est un avantage considérable pour ma maîtrise de Linux, car cela me permet d'avoir une expérience pratique et professionnelle avec ce système d'exploitation, et de continuer à apprendre et à m'améliorer dans son utilisation au quotidien.
    </p>

    <p class="paragraph">
      Tous les serveurs de l'entreprise sont également basés sur Debian. L'entreprise utilise également Docker pour le déploiement de ses applications et possède des outils de surveillance et un pare-feu pour assurer la sécurité et la fiabilité de ses serveurs Linux. Je n'ai pas encore eu l'occasion de voir la configuration exact de ses outils de sécurité et de surveillance, mais j'ai eu l'occasion de voir comment ils fonctionnent et quels sont les avantages qu'ils offrent pour l'administration de serveurs Linux.
    </p>

    <h2 class="title-h2">Mon autocritique</h2>
    <p class="paragraph">
      L'administration de serveurs Linux est une compétence complexe, qui n'est pas mon domaine à la base, mais je pense quand même avoir une bonne maîtrise de cette compétence grâce à mon expérience avec mes serveurs personnels et mon VPS chez OVH. Cependant, je reconnais que je ne suis pas un expert en administration de serveurs Linux, et qu'il y a encore beaucoup de choses que je ne sais pas faire ou que je pourrais améliorer.
    </p>

    <p class="paragraph">
      Par exemple, sur mon serveur, il faudrai que j'ajoute un pare-feu, comme UFW, pour renforcer la sécurité de mon serveur en filtrant les connexions entrantes et sortantes. J'ai également besoin d'installer un système de surveillance pour pouvoir détecter rapidement les problèmes de performance ou de sécurité sur mon serveur, comme Nagios ou Zabbix et il faudrai également que j'installe fail2ban pour protéger mon serveur contre les attaques de force brute en bloquant les adresses IP qui tentent de se connecter de manière répétée avec des identifiants incorrects.
    </p>

    <p class="paragraph">
      Se ne sont pas des outils obligatoires pour un VPS parce que mon VPS est déjà très sécurisé grâce à la configuration que j'ai mise en place, grâce à l'utilisation de docker et grâce à OVH lui même qui offre une protection DDoS très efficace. Cependant, l'ajout de ces outils de sécurité et de surveillance serait un avantage considérable pour renforcer encore plus la sécurité et la fiabilité de mon serveur Linux, et je prévois de les installer mais je manque de temps et se sont des outils parfois complexe que je dois encore apprendre à utiliser correctement avant de les installer sur mon serveur de production.
    </p>

    <h2 class="title-h2">Mon évolution dans cette compétence</h2>
    <p class="paragraph">
      Linux faisant partie à mon sens du trio des outils parfait, avec Git et Docker, je compte continuer de l'utiliser pour tous mes projets actuel et futur, que se sois pour le développement ou pour la mise en production.
    </p>

    <p class="paragraph">
      Je vais également continuer d'utiliser Linux sur tous mes prochains ordinateurs personnels, ainsi que tous les serveurs que je vais utiliser pour mes projets, que se sois des serveurs personnels ou des serveurs de production chez OVH ou chez d'autres hébergeurs.
    </p>

    <p class="paragraph">
      J'ai encore beaucoup à apprendre sur Linux, notamment en ce qui concerne l'administration de serveurs Linux, mais je suis motivé pour continuer à apprendre et à m'améliorer dans cette compétence, car je sais que cela me sera très utile pour ma carrière professionnelle et pour la réussite de mes projets. Comme sur toute mes compétences, je vais continuer à m'améliorer mais toujours avec des sources gratuites et je ne ferais de certification parce que je trouve que c'est une perte de temps.
    </p>
  </div>
</section>
