---

---

<section class="flex flex-col items-center">
  <div class="max-w-[80%]">
    <h2 class="title-h2">Ma définition</h2>
    <p class="paragraph">
      Linux est un noyau de système d'exploitation libre et open source, développé initialement par Linus Torvalds en 1991. Il est utilisé dans une grande variété de systèmes, allant des serveurs aux ordinateurs personnels, en passant par les appareils mobiles et les systèmes embarqués. Linux est connu pour sa stabilité, sa sécurité et sa flexibilité, ce qui en fait un choix populaire pour les développeurs et les administrateurs système.
    </p>

    <p class="paragraph">
      Linux est l'un des plus grand, si se n'est le plus grand projet de logiciel libre au monde, avec une communauté de développeurs et d'utilisateurs très active. Il permet à n'importe qui de déployer, sur n'importe quel matériel, un système d'exploitation complet, personnalisable et surtout sécurisé. Linux, bien qu'il ne sois pas très connu du grand public, est partout. Il est utilisé sur <a href="https://www.tecmint.com/why-the-world-runs-on-linux/">96,3% des serveurs web</a>, 100% des supercalculateurs, 100% des fusées spatiales, 5,27 Milliard de téléphones mobiles à travers le monde. Mais se n'est pas tous, il est également utilisé dans les machines industrielles, les voitures, les télévisions, les montres connectées, les frigos, les machines à laver, les imprimantes 3D, les caisses automatique, les robots et même dans les systèmes de contrôle de la circulation aérienne. Linux est utilisé sur tout les continent, même dans les pays les plus fermés, comme la Corée du Nord et fonctionne sur quasiment tous les matériels, même les plus anciens, et même dans les environnements les plus extrême, comme la station spatiale internationale ou les profondeurs de l'océan. Linux est un système d'exploitation incroyablement polyvalent et puissant, qui a révolutionné le monde de l'informatique et continue de jouer un rôle crucial dans l'innovation technologique à travers le monde.
    </p>

    <p class="paragraph">
      Paradoxalement, et malgré son omniprésence et son importance dans le monde de l'informatique, Linux reste relativement méconnu du grand public parce que n'a que 5% de part de marché sur les ordinateurs personnels. Si Linux est aussi peu représenté sur les ordinateurs personnels, c'est en partie parce que les fabricants d'ordinateurs préfèrent préinstaller des systèmes d'exploitation propriétaires comme Windows a cause de contrats d'exclusivité et de partenariats commerciaux. Linux étant un système d'exploitation libre et open source, il ne peux pas payé pour être préinstallé sur les ordinateurs, contrairement à Windows. De plus, Linux est souvent perçu comme étant plus difficile à utiliser que les systèmes d'exploitation propriétaires, ce qui peut décourager les utilisateurs novices. Cependant, il existe de nombreuses distributions Linux conviviales et faciles à utiliser, qui offrent une expérience utilisateur similaire et même souvent meilleure que les systèmes d'exploitation propriétaires mais qui sont souvent méconnues du grand public parce qu'il faut les installer soi même, ce qui n'est pas envisageable pour la plupart des utilisateurs.
    </p>

    <p class="paragraph">
      Avant de continué, on va clarifier quelque chose tous de suite, Linux n'est pas un système d'exploitation, mais plutôt un noyau de système d'exploitation. Un noyau est la partie centrale d'un système d'exploitation qui gère les ressources matérielles et permet aux logiciels de fonctionner. Linux est le noyau mais il a besoin d'autres composants pour former un système d'exploitation complet, comme les bibliothèques, les outils et les applications. C'est pourquoi on parle souvent de <a href="https://fr.wikipedia.org/wiki/Distribution_Linux"><b><u>"distributions Linux"</u></b></a>, qui sont des systèmes d'exploitation complets basés sur le noyau Linux, comme Ubuntu, Debian, Fedora, Arch Linux, etc. Je ne vais pas toute les énumérer, il en existe des centaines, chacune avec ses propres caractéristiques et avantages.
    </p>

    <h2 class="title-h2">Mes éléments de preuve</h2>
    <p class="paragraph">
      Personnellement, j'utilise la distribution Ubuntu depuis 2023, et je ne pourrais pas être plus satisfait de mon choix. Linux m'a permis d'apprendre énormément sur le fonctionnement des systèmes d'exploitation, la ligne de commande, la programmation et l'administration système.
    </p>

    <h2 class="title-h2">Mon autocritique</h2>
    <p class="paragraph">
      Paragraphe
    </p>

    <h2 class="title-h2">Mon évolution dans cette compétence</h2>
    <p class="paragraph">
      Paragraphe
    </p>
  </div>
</section>
