---
import { getProjectById } from "@/data/projects";
---

<section class="flex flex-col items-center">
  <div class="max-w-[80%]">
    <h2 class="title-h2">Ma définition</h2>
    <p class="paragraph">
      L'organisation est la capacité à structurer, planifier et gérer
      efficacement des têches. Cela implique de savoir découper un projet en
      tâches plus petites et de les organiser de manière logique pour réaliser
      un projet le plus simplement possible.
    </p>

    <p class="paragraph">
      En entreprise, le manque d'organisation ouvre la porte à des oublies, des
      objectifs non atteints, des logiciels mal réaliser et mal sécurisés.
      L'organisation est donc très important pour fournir un travail de qualité
      et sécurisé. C'est d'autant plus important en 2026 quand on voit le nombre
      de cyberattaques et de fuites de données croissantes, comme l'indique le
      site <a href="https://bonjourlafuite.eu.org/stats.html"
        >Bonjour la fuite</a
      >. Même si certaine entreprises ou organisation fonctionne avec une
      mauvaise organisation, cela se ressent forcément sur la qualité du travail
      fourni, et cela peut même être dangereux dans certain cas, notamment en ce
      qui concerne la sécurité des données. C'est pour cela que je considère que
      l'organisation est une compétence très importante à développer pour tout
      professionnel, et encore plus pour un développeur, qui doit souvent gérer
      de nombreux projets et tâches en même temps.
    </p>

    <h2 class="title-h2">Mes éléments de preuve</h2>
    <p class="paragraph">
      J’ai toujours aimé classer et organiser tout ce que je fais. C’est donc
      assez naturellement que j’ai développé une bonne organisation dans mon
      travail. Cependant, avoir la volonté et l’habitude d’organiser ne signifie
      pas pour autant savoir gérer parfaitement un projet informatique. Ma
      manière d’organiser mes projets a donc beaucoup évolué au fil du temps.
    </p>

    <p class="paragraph">
      Durant ma première année d’IUT, je découvrais encore l’informatique,
      contrairement à beaucoup de mes camarades qui avaient déjà une expérience
      acquise au lycée. Cette période m’a surtout permis d’apprendre les bases
      et de comprendre le fonctionnement du travail en équipe dans des projets
      techniques.
    </p>

    <p class="paragraph">
      En deuxième année que j’ai commencé à aopprendre à structurer et organiser
      des projets informatiques. Je n'avais pas encore assez d'expérience et je
      n'étais pas encore techniquement compétent pour être chef de projet en
      revanche, j’avais assez de compétences pour tiré des conclusion sur les
      postes qu'un chef d'équipe serait amené à superviser. J’ai donc occupé
      différents rôles au sein des équipes. Ceci m'a permis de mieux comprendre
      les problématiques et les contraintes liées à chaque poste. Cette
      expérience m’a permis d’acquérir une vision plus globale du travail
      d’équipe et des responsabilités qu’un chef de projet peut être amené à
      superviser. J'ai également observé attentivement les chefs de projet que
      j'ai eu, pour voir avec un point de vue externe se qu'ils de bien et de
      moins bien, et ainsi apprendre de leurs expériences pour éviter de
      reproduire les mêmes erreurs quand je serai à mon tour chef de projet.
    </p>

    <p class="paragraph">
      C'est en troisième année, que j'ai rellement pris d'avantage d’initiatives
      dans la gestion des équipes et des projets. Les expériences accumulées
      lors des années précédentes m’ont permis de mieux comprendre les
      difficultés rencontrées par chaque membre d’une équipe, qu’il s’agisse de
      limites techniques, d’un manque d’expérience ou de contraintes liées au
      rôle occupé. Ayant moi-même été confronté à ces situations, j’ai appris à
      les anticiper et à les prendre en compte dans mon organisation. De plus,
      mes camarades ayant vu cette progression entre la première année où
      j'avais des difficultés à installer de simple logiciels et la troisième
      année où j'étais dans les 10 meilleurs de la promotion, ont naturellement
      commencé à me faire confiance pour prendre en charge l'organisation des
      projets.
    </p>

    <p class="paragraph">
      C’est pour ces raisons qu’en troisième année, j’ai occupé le rôle de chef
      de projet sur l’ensemble des projets auxquels j’ai participé. Ces
      expériences se sont toutes très bien déroulées et m’ont conforté dans
      l’idée que j’apprécie particulièrement l’organisation de projets et que
      cette responsabilité correspond bien à mes compétences. Je pense notamment
      au projet du jeu <a
        href={getProjectById("jeu-aventuriers-du-rail")?.localLink}
        ><b><u>Les Aventuriers du Rail</u></b></a
      >, qui représente pour moi une expérience particulièrement marquante.
    </p>

    <h2 class="title-h2">Mon autocritique</h2>
    <p class="paragraph">Paragraphe</p>

    <h2 class="title-h2">Mon évolution dans cette compétence</h2>
    <p class="paragraph">Paragraphe</p>
  </div>
</section>
