---
import { getProjectById } from "@/data/projects";
---

<section class="flex flex-col items-center">
  <div class="max-w-[80%]">
    <h2 class="title-h2">Ma définition</h2>
    <p class="paragraph">
      L'organisation est la capacité à structurer, planifier et gérer efficacement des têches. Cela implique de savoir découper un projet en tâches
      plus petites et de les organiser de manière logique pour réaliser un projet le plus simplement possible.
    </p>

    <p class="paragraph">
      En entreprise, le manque d'organisation ouvre la porte à des oublies, des objectifs non atteints, des logiciels mal réaliser et mal sécurisés.
      L'organisation est donc très important pour fournir un travail de qualité et sécurisé. C'est d'autant plus important en 2026 quand on voit le
      nombre de cyberattaques et de fuites de données croissantes, comme l'indique le site <a href="https://bonjourlafuite.eu.org/stats.html"
        >Bonjour la fuite</a
      >. Même si certaine entreprises ou organisation fonctionne avec une mauvaise organisation, cela se ressent forcément sur la qualité du travail
      fourni, et cela peut même être dangereux dans certain cas, notamment en ce qui concerne la sécurité des données. C'est pour cela que je
      considère que l'organisation est une compétence très importante à développer pour tout professionnel, et encore plus pour un développeur, qui
      doit souvent gérer de nombreux projets et tâches en même temps.
    </p>

    <h2 class="title-h2">Mes éléments de preuve</h2>
    <p class="paragraph">
      J’ai toujours aimé classer et organiser tout ce que je fais. C’est donc assez naturellement que j’ai développé une bonne organisation dans mon
      travail. Cependant, avoir la volonté et l’habitude d’organiser ne signifie pas pour autant savoir gérer parfaitement un projet informatique. Ma
      manière d’organiser mes projets a donc beaucoup évolué au fil du temps.
    </p>

    <p class="paragraph">
      Durant ma première année d’IUT, je découvrais encore l’informatique, contrairement à beaucoup de mes camarades qui avaient déjà une expérience
      acquise au lycée. Cette période m’a surtout permis d’apprendre les bases et de comprendre le fonctionnement du travail en équipe dans des
      projets techniques.
    </p>

    <p class="paragraph">
      En deuxième année que j’ai commencé à aopprendre à structurer et organiser des projets informatiques. Je n'avais pas encore assez d'expérience
      et je n'étais pas encore techniquement compétent pour être chef de projet en revanche, j’avais assez de compétences pour tiré des conclusion sur
      les postes qu'un chef d'équipe serait amené à superviser. J’ai donc occupé différents rôles au sein des équipes. Ceci m'a permis de mieux
      comprendre les problématiques et les contraintes liées à chaque poste. Cette expérience m’a permis d’acquérir une vision plus globale du travail
      d’équipe et des responsabilités qu’un chef de projet peut être amené à superviser. J'ai également observé attentivement les chefs de projet que
      j'ai eu, pour voir avec un point de vue externe se qu'ils de bien et de moins bien, et ainsi apprendre de leurs expériences pour éviter de
      reproduire les mêmes erreurs quand je serai à mon tour chef de projet.
    </p>

    <p class="paragraph">
      C'est en troisième année, que j'ai rellement pris d'avantage d’initiatives dans la gestion des équipes et des projets. Les expériences
      accumulées lors des années précédentes m’ont permis de mieux comprendre les difficultés rencontrées par chaque membre d’une équipe, qu’il
      s’agisse de limites techniques, d’un manque d’expérience ou de contraintes liées au rôle occupé. Ayant moi-même été confronté à ces situations,
      j’ai appris à les anticiper et à les prendre en compte dans mon organisation. De plus, mes camarades ayant vu cette progression entre la
      première année où j'avais des difficultés à installer de simple logiciels et la troisième année où j'étais dans les 10 meilleurs de la
      promotion, ont naturellement commencé à me faire confiance pour prendre en charge l'organisation des projets.
    </p>

    <p class="paragraph">
      C’est pour ces raisons qu’en troisième année, j’ai occupé le rôle de chef de projet sur l’ensemble des projets auxquels j’ai participé. Ces
      expériences se sont toutes très bien déroulées et m’ont conforté dans l’idée que j’apprécie particulièrement l’organisation de projets et que
      cette responsabilité correspond bien à mes compétences. Je pense notamment au projet du jeu <a
        href={getProjectById("jeu-aventuriers-du-rail")?.localLink}><b><u>Les Aventuriers du Rail</u></b></a
      >, qui représente pour moi une expérience particulièrement marquante.
    </p>

    <h2 class="title-h2">Mon autocritique</h2>
    <p class="paragraph">
      Je me suis beaucoup amélioré dans l'organisation au fil des années, ce qui me permet aujourd'hui de gérer efficacement des projets. J'ai donc un
      très bon niveau d'organisation.
    </p>

    <p class="paragraph">
      Malgré cette progression, je suis conscient que je peux encore m'améliorer notament en se qui concerne la gestion du temps et des ressources.
      Mon obsession pour la qualité du travail fourni me pousse parfois à vouloir faire les choses parfaitement, ce qui peut entraîner des retards
      dans la réalisation des projets. Je dois apprendre à trouver un équilibre entre la qualité et les délais, en acceptant que parfois, il est
      nécessaire de faire des compromis pour respecter les échéances.
    </p>

    <p class="paragraph">
      Pour devenir organisé, le plus importanty est d'adopter une routine et de s'y tenir. Il faut organiser une routine de travail qui nous convient,
      en définissant des horaires de travail réguliers et en planifiant les tâches à accomplir chaque jour puis de faire des petites tâches simples
      régulièrement pour éviter de se retrouver avec une grande quantité de travail à faire en une seule fois. Une fois cette première étape réalisée,
      il reste le plus compliqué, c'est à dire être capable d'adapter cette routine en fonction des imprévus et des changements de priorités qui
      peuvent survenir. C'est pas facile mais avec l'expérience, on apprend à mieux gérer ces situations et à rester organisé même dans des conditions
      difficiles.
    </p>

    <p class="paragraph">
      Pour vous aider à développer votre organisation, je vous conseille également d'utiliser une application comme <a
        href="https://ticktick.com"
        target="_blank"
        rel="noopener noreferrer"
        ><b><u>Ticktick</u></b></a
      > que j'utilise personnelement depuis 6 ans et qui m'aide énormément dans la vie de tous les jours comme pour mes projets personnel et professionnels.
    </p>

    <h2 class="title-h2">Mon évolution dans cette compétence</h2>
    <p class="paragraph">J'ai pour projet de créer mon entreprise afin de pouvoir développer mes propre applications directement aux utilisateurs.</p>
    <p class="paragraph">
      Par conséquent, la gestion du temps qui est actuellement une de mes faiblesses n'est pas très importante pour moi. Malgré tous je travail
      actuellement avec mon maitre d'apprentissage à m'améliorer sur ce point parce que même si dans le futur ce ne sera probablement pas un problème
      majeur, il reste important de savoir mieux gerer le temps. Je pense que d'ici la fin de mon alternance je serais capable de trouver le bon
      équilibre entre temps et qualité.
    </p>

    <h2 class="title-h2">Liste des projets cités</h2>
    <ul class="list-disc list-inside">
      <li>
        <a href={getProjectById("jeu-aventuriers-du-rail")?.localLink}><b><u>Les Aventuriers du Rail</u></b></a>
      </li>
    </ul>
  </div>
</section>
