---

---

<section class="flex flex-col items-center">
  <div class="max-w-[80%]">
    <h2 class="title-h2">Ma définition</h2>
    <p class="paragraph">
      La polyvalence est la capacité à s'adapter et à exceller dans différents domaines, tâches ou rôles. Elle implique une flexibilité intellectuelle et une ouverture d'esprit qui permettent de naviguer avec aisance entre diverses compétences, connaissances et environnements. Être polyvalent signifie être capable de gérer efficacement des situations variées, être capable de travailler sur des projets diversifiés et être capable de gérer tous les aspects d'un projet.
    </p>

    <p class="paragraph">
      En tant que salarié, la polyvalence n'est pas obligatoire parce que souvent, se qui est demander est d'être spécialisé dans un domaine. En revanche quand on veux progresser, devenir manager ou créer ses propres projets, la polyvalence devient un atout majeur. Elle permet de mieux comprendre les différents aspects d'un projet, de mieux communiquer avec les différentes parties prenantes et de mieux gérer les imprévus.
    </p>

    <p class="paragraph">
      Par exemple, un chef de projet se doit d'être polyvalent pour pouvoir gérer les différentes phases d'un projet, les différentes équipes et les différents aspects du projet. Un chef de projet polyvalent doit être capable de comprendre les aspects techniques, que se sois le développement, le design la sécurité, etc... mais aussi les aspects commerciaux et financiers du projet. Il doit être capable de communiquer efficacement avec les différentes équipes et les différentes parties prenantes du projet pour assurer le succès du projet.
    </p>

    <h2 class="title-h2">Mes éléments de preuve</h2>
    <p class="paragraph">
      J'ai deux projet en particulier dans lesquels j'ai du faire preuve de polyvalence, il s'agit de Genesis de Econoris. Sur ces deux projets, j'ai du gérer différents aspects du projet, que se sois le développement, le design, la sécurité, l'optimisation, la documentation, etc.
      </p>

      <p class="paragraph">
      Dans Genesis j'ai du créer le backend, qui est ma spécialité, mais j'ai également revue l'architecture complête du front-end afin de l'optimiser et de le rendre plus maintenable. Donc de spécialiste backend, j'ai du faire preuve de polyvalence pour passer du backend au front-end en gardant les standards de qualité et de performance que j'avais mis en place sur le backend. C'est une transition qui n'était pas évidente puisqu'en une semaine j'ai du apprendre un nouveau langage, Dart, et un nouveau framework, Flutter, ainsi que les bonnes pratiques de développement pour ce langage et ce framework en prenant en compte les contraintes de performance et de maintenabilité du projet.
      </p>

      <p class="paragraph">
      Suite à mon apprentissage du front-end, j'ai du écrire l'architecture du front-end sous forme de mini documentation pour pouvoir la transmettre au développeur mobile avec qui j'allais travailler. Ensuite ça nous à pris deux semaines avec mon collègue pour implémenter l'architecture du front-end et faire en sorte que le front-end soit maintenable, performant et sécurisé. À noté que l'architecture mis en place n'est pas une architecture sur mesure, c'est une architecture standard, recommandé par Google pour Flutter. La vrai difficulté vien du fait que nous avons utilisé les librairies GoRouteur et Riverpod pour implémenter cette architecture.
      </p>

      <p class="paragraph">
      Donc en plus d'apprendre un nouveau langage et un nouveau framework, j'ai du apprendre à utiliser ces deux librairies pour pouvoir implémenter l'architecture du front-end. La librairie Riverpod en particulier, redifinit complètement la manière de faire du développement en Flutter, elle impose une nouvelle manière de penser le développement en Flutter, ce qui n'était pas évident à appréhender au début.
      </p>

      <p class="paragraph">
      C'était un vrai défi pour moi de devoir apprendre un nouveau langage, un nouveau framework ainsi qu'une librairie complexe à mettre en place en si peu de temps, mais j'ai réussi à relever ce défi grâce à ma capacité d'adaptation et à ma volonté d'apprendre.
      </p>

      <p class="paragraph">
      La prochaine étape pour moi c'est d'ajouter cette architecture optimisée du front-end à ma documentation technique personnelle pour pouvoir la transmettre à tous ceux qui iront sur ma documentation. Je pense que c'est important de partager mes connaissances et mes expériences pour aider les autres à progresser, d'autant plus que cette architecture n'est pas trouvable facilement sur internet puisqu'elle mélange astucieusement les conventions et bonne pratiques de Flutter avec les conventions et bonne pratiques de Riverpod et GoRouteur, se qui n'est pas facile à mettre en place, même plus quelqu'un qui maitrise bien Flutter.
    </p>

    <p class="paragraph">
      Le deuxième projet dans lequel j'ai du faire preuve de polyvalence est Econoris, mon gestionnaire de finances. J'ai réaliser se projet seul donc là j'ai vraiment du faire preuve de polyvalence pour gérer tous les aspects du projet.
      </p>

      <p class="paragraph">
      J'ai commencer par créer la base de données, qui est le coeur du projet. J'ai créer la base de données à l'aide de script SQL. Pas de grande difficulté pour créer la base de données, j'ai juste du faire attention à bien structurer la base de données pour qu'elle soit performante et facile à utiliser. C'est une base qui reste assez simple, j'ai utiliser mes connaissances que j'avais aquie à l'IUT du Havre. Le seul point un peu nouveau pour moi c'était de la mettre dans une image Docker pour pouvoir la déployer facilement sur un serveur. C'était une première pour moi de devoir dockeriser une base de données, mais avec l'aide de mon maitre d'apprentissage, j'ai réussi relativement facilement.
      </p>

      <p class="paragraph">
      Ensuite j'ai créer le backend (API), qui est ma spécialité, là pas de surprise, j'ai utilisé la même architecture que j'avais mis en place pour Genesis. C'est une architecture que je maitrise bien, qui est optimiser et surtout qui est ultra sécurisée, puisque chaque donnée qui entre en chaque donnée qui sort du backend est vérifiée et corrigée en suivant des schémas stricts, donc je n'ai pas eu de difficulté particulière pour créer le backend.
      </p>

      <p class="paragraph">
      Ensuite j'ai du créer le front-end. Là c'était un peu plus compliqué, en fait j'ai commencer le front-end en même temps que celui de Genesis, donc j'ai fais les mêmes erreur sur les deux projets. La première fois j'ai testé de faire le front-end totalement avec l'intelligence artificielle, mais le résultat était catastrophique, le code généré était de très mauvaise qualité, il y avait énormément de bugs et de problèmes de performance.
      </p>

      <p class="paragraph">
      Suite à cette mauvaise expérience, j'ai décidé de tous refaire de zéro. J'ai commencé par une semaine complète, du lundi au dimanche, d'apprentissage de Flutter, de Dart, des bonnes pratiques de développement, de l'architecture recommandée par Google pour Flutter, ainsi que des librairies GoRouteur et Riverpod. C'était une semaine très intense, j'ai du apprendre énormément de choses en très peu de temps, mais j'ai réussi et j'ai compiler les éléments les plus importants sur le papier ci-dessous.
      </p>

      <p class="paragraph">
      // TODO Ajouter la photo de mon papier de l'architure flutter
      </p>

      <p class="paragraph">
      Ensuite j'ai du refaire entièrement Econoris avec cette nouvelle architecture, ce qui m'a pris environ deux mois (du 7 février au 26 mars 2026). J'en ai également profiter pour revoir complètement le design du front-end pour le rendre plus moderne et plus ergonomique. Ensuite j'ai également refait le 'README.md' du projet pour le rendre plus complet et surtout plus à jour après la réécriture du projet.
      </p>

      <p class="paragraph">
      Maintenant que j'ai une application complète et fonctionnelle, avec une base de données un backend et un front-end, il reste encore du chemin à faire pour qu'elle soit disponible pour le grand public. C'est pourquoi j'ai créer des images Docker pour la base de données, le backend et le front-end pour pouvoir les déployer facilement sur un serveur. Une fois que j'ai compris comment faire ça, j'ai automatisé la construction et la publication de ces images Docker sur Docker Hub et sur GitHub Container Registry (GHCR) à l'aide de GitHub Workflows, ce qui me permet de publier une nouvelle version de mon application en quelques minutes.
      </p>

      <p class="paragraph">
      Maintenant que mes images Docker sont publiées automatiquement à chaque fois que je pousse une nouvelle version de mon code sur GitHub, il ne me reste plus qu'à déployer ces images sur un serveur pour que mon application soit disponible pour le grand public. Pour cela j'ai donc créer un wrapper, nommé Flower Garden, qui réunit en un seul docker compose les trois images Docker de mon application, plus un reverse proxy, avec certificat SSL, pour pouvoir accéder à mon application via un nom de domaine. Ensuite j'ai acheter un nom de domaine, 'florobart.fr', ainsi qu'un Réseau Privé Virtuel (VPS) chez OVH. J'ai créer un sous-domaine pour Econoris, j'ai configurer mon VPS pour pouvoir y déployer mon application en toute sécurité, j'ai récupérer mon wrapper (Flower Garden) sur mon VPS, j'ai configurer les variables d'environnement, puis j'ai enfin déployé mon application sur mon VPS en lancant simplement le wrapper.
      </p>

      <p class="paragraph">
      Après toute ces étapes, mon application est enfin disponible pour le grand public à l'adresse 'https://econoris.florobart.fr', elle est fonctionnelle, optimisée, sécurisée et surtout maintenable, grâce à l'architecture que j'ai mis en place et à ma capacité de faire preuve de polyvalence pour gérer tous les aspects du projet.
    </p>

    <h2 class="title-h2">Mon autocritique</h2>
    <p class="paragraph">
      à l'aide de mes expériences, notamment sur Genesis et Econoris, mais pas seulement, j'ai vraiment appris à être polyvalent, à m'adapter à différentes situations, à apprendre de nouvelles compétences rapidement et à gérer tous les aspects d'un projet, je pense donc que la polyvalence est une compétence que je maitrise bien.
      </p>

      <p class="paragraph">
      Malgré tous il me reste encore beaucoup de chose à apprendre pour être encore plus polyvalent, Je pense notamment au déployement qui est fait de manière assez artisanale pour le moment, j'aimerais apprendre à utiliser des outils comme Kubernetes pour pouvoir déployer mon application de manière plus professionnelle et plus scalable. J'aimerais également apprendre à utiliser des outils de monitoring pour pouvoir surveiller les performances et la sécurité de mon application en temps réel. De façon plus large j'aimerais également apprendre à gérer une entreprise, à faire de la comptabilité, à faire du marketing, etc... pour pouvoir gérer tous les aspects d'une entreprise et pas seulement les aspects techniques.
      </p>

      <p class="paragraph">
      Pour être polyvalent, il n'y a pas de miracle, ça s'apprend, il faux être curieux en permanence, il faut être ouvert d'esprit et surtout il faut être prêt à sortir de sa zone de confort pour apprendre de nouvelles choses. C'est un processus qui peut être long et difficile, mais c'est un processus qui en vaut la peine, car la polyvalence est une compétence très précieuse dans le monde professionnel d'aujourd'hui.
      </p>

      <p class="paragraph">
      Je pense qu'avec l'intelligence artificielle, les compétences techniques vont devenir de moins en moins importantes, car l'intelligence artificielle sera capable extrement pointu dans tous les domaines techniques, elle sera capable de faire du développement, du design, de la sécurité, etc... donc ceux qui resteront compétent dans un seul domaine technique seront rapidement dépassé par l'intelligence artificielle, tandis que ceux qui seront polyvalent, qui seront capable de gérer tous les aspects d'un projet, seront ceux qui réussiront à s'adapter et à évoluer avec l'intelligence artificielle. Dans quelque années, au lieux d'avoir un chef d'équipe avec une équipe de 6 personnes, chacun spécialisé dans un domaine technique, on aura une ou deux personnes, très polyvalente, qui sera capable à l'aide de l'intelligence artificielle de gérer tous les aspects d'un projet.
    </p>

    <h2 class="title-h2">Mon évolution dans cette compétence</h2>
    <p class="paragraph">
      La polyvalence est une compétence obligatoire pour moi, je ne peux pas me permettre de ne pas être polyvalent, alors que je veux créer mon entreprise, je serais forcément amener à devoir gérer ou au moins superviser tous les aspects de mon entreprise, que se sois les aspects techniques, commerciaux, financiers, etc... donc c'est une compétence que je dois absolument maitriser pour pouvoir réussir dans mon projet professionnel.
      </p>

      <p class="paragraph">
      C'est dans cette optique que je continue à apprendre de nouvelles compétences, à me former sur de nouveaux domaines, à sortir de ma zone de confort pour apprendre de nouvelles choses. Je pense que c'est un processus qui n'a pas de fin, il y aura toujours de nouvelles compétences à apprendre, de nouveaux domaines à explorer, de nouvelles technologies à découvrir donc je continuerais à faire preuve de polyvalence tout au long de ma carrière professionnelle pour pouvoir m'adapter et évoluer avec les changements du monde professionnel.
      </p>

      <p class="paragraph">
      Mon prochain défi pour continuer à faire preuve de polyvalence, c'est d'améliorer mon CI/CD, c'est à dire d'automatiser encore plus le processus de construction, de test et de déploiement de mes applications pour pouvoir publier une nouvelle version de mon application en quelques secondes, sans aucune intervention manuelle. Le second se sera d'apprendre à faire du monitoring pour pouvoir surveiller les performances et la sécurité de mes applications en temps réel et enfin le dernier se sera d'apprendre à utiliser Kubernetes pour pouvoir déployer mes applications de manière plus professionnelle et plus scalable, pour pouvoir gérer une augmentation du nombre d'utilisateurs de mes applications sans que ça impacte leurs performances et leurs sécurités.
    </p>
  </div>
</section>
