---
import { getProjectById } from "@/data/projects";
---

<section class="flex flex-col items-center">
  <div class="max-w-[80%]">
    <h2 class="title-h2">Ma définition</h2>
    <p class="paragraph">
      Le travail d'équipe est la capacité à collaborer efficacement avec d'autres personnes pour atteindre un objectif commun. Cela implique de savoir
      communiquer, partager des idées, écouter les autres et travailler ensemble pour résoudre des problèmes.
    </p>

    <p class="paragraph">
      En entreprise, la monter croissante de l'intelligence artificielle à grandement modifier la nature du travail d'équipe. Alors que les tâches
      techniques et individuelles sont de plus en plus automatisées et assistées, la valeur ajoutée humaine se déplace vers les compétences humaines.
      La capacité à collaborer efficacement avec d'autres personnes est devenue une compétence encore plus importante, puisqu'on passe moins de temps
      à faire du travail technique et plus de temps à faire du travail relationnel pour décider de la direction à prendre.
    </p>

    <p class="paragraph">
      Les concurences féroces entre les différentes entreprises les forcent à innover et à créer des logiciels de plus en plus complexes pour se
      démarquer. Cela nécéssite donc des équipes toujours plus nombreuses et plus spécialisées pour gérer la complexité croissante des projets. Le
      travail d'équipe est donc devenu une compétence essentielle pour tout professionnel.
    </p>

    <h2 class="title-h2">Mes éléments de preuve</h2>
    <p class="paragraph">
      Un exemple me viens immédiatement à l'esprit, il s'agit du projet <a href="https://github.com/FloRobart/Maison_eau_dor"
        ><b><u>Maison Eau d'Or</u></b></a
      >, dans lequel nous avons créer une boutique en ligne pour une entreprise spécialisé dans la création et la vente de parfum. Ce projet a été
      réalisé en équipe de 5 personnes pendant ma troisième et dernière année d'IUT. Comme tous mes projets de dernière année, J'étais le chef de
      projet, ce qui m'a permis de mettre en pratique mes compétences en travail d'équipe. J'ai dû coordonner les efforts de tous les membres de
      l'équipe, répartir les tâches, gérer les conflits et assurer une communication efficace pour mener à bien le projet dans le delais de deux
      semaines qui nous étaient imposés.
    </p>

    <p class="paragraph">
      Après que tous les membres de l'équipe est voté pour que je sois le chef de projet, J'ai commencé par posé les bases, c'est à dire tous le monde
      respecte les autres et surtout bienveillance envers les autres. Ensuite, j'ai organisé un tour de table pour que chacun puisse se présenter et
      donner sont domaine de prédilection, ce qui m'a permis de mieux comprendre les compétences et les intérêts de chacun. Ensuite, j'ai organisé une
      réunion pour discuter des objectifs du projet et des différentes tâches à accomplir. J'ai ensuite réparti les tâches en fonction des compétences
      et des intérêts de chacun, tout en veillant à ce que tout le monde ait une charge de travail équilibrée et cohérente en fonction de ses
      compétences. J'ai également mis en place un système de communication efficace pour que tout le monde puisse rester informé de l'avancement du
      projet et pour résoudre rapidement les problèmes qui pouvaient survenir. Grâce à une bonne organisation et à une communication efficace, nous
      avons réussi à mener à bien le projet dans les délais impartis.
    </p>

    <p class="paragraph">
      Le plus gros défi que j'ai rencontré lors de ce projet a été d'éviter de donner trop de travail à certains membres de l'équipe, san frustrer les
      autres. En effet, il y avait des grosses différences de compétences techniques entre les membres de l'équipe, ce qui rendait difficile la
      répartition des tâches. J'ai donc dû faire preuve de diplomatie pour trouver un équilibre entre les compétences et les intérêts de chacun, tout
      en veillant à ce que le projet avance.
    </p>

    <p class="paragraph">
      Je ne sais pas que être chef d'équipe, même si j'ai tendance à souvent prendre les rènes des projets auquels je participe, je sais aussi être un
      coéquipier solide sur lequel le chef d'équipe peut s'appuyer. J'ai toujours été quelqu'un de très sociable et de très à l'écoute des autres, ce
      qui m'a permis de m'entendre avec tous les membres des équipes dans lesquelles j'ai travaillé. Je pense notament au projet <a
        href="https://github.com/FloRobart/Generateur_plateau"><b><u>Générateur de plateau</u></b></a
      >, dans lequel je n'étais pas le chef de projet, j'ai eu une place moteur dans l'équipe, en proposant des idées et en aidant les autres membres
      de l'équipe à résoudre les problèmes techniques qu'ils pouvaient rencontrer, tous en laissant la direction du projet au chef d'équipe.
    </p>

    <p class="paragraph">
      Bien que cela me demande de faire preuve de retenue je sais aussi me mettre en retrait pour laisser les autres membres de l'équipe s'exprimer et
      laisse le chef d'équipe prendre les décisions, même si se ne sont pas celle que j'aurais prise. Je pense que c'est très important de savoir se
      mettre en retrait pour laisser les autres s'exprimer et pour éviter de monopoliser la parole ou de prendre le contrôle du projet, ce qui est
      souvent contre-productif pour l'équipe et pour le projet.
    </p>

    <h2 class="title-h2">Mon autocritique</h2>
    <p class="paragraph">
      Le projet <a href="https://github.com/FloRobart/Maison_eau_dor"><b><u>Maison Eau d'Or</u></b></a> n'a rien de très interessant en sois mais c'est
      le groupe avec les plus gros écart de compétences techniques que j'ai eu, et c'est la où ce projet à été interessant pour moi, car j'ai dû faire preuve
      de beaucoup de diplomatie pour trouver un équilibre entre les compétences et les intérêts de chacun, tout en veillant à ce que le projet avance. Au
      vue du résultat final, de la bonne entente dans le groupe et de la note que nous avons eu, je considère que j'ai réussi à relever ce défi et que je
      maîtrise le travaille en équipe.
    </p>

    <p class="paragraph">
      Je pense que le plus dure est de rester à l'écoute de tous les membres de l'équipe, même ceux qui sont moins compétents techniquement, parce que
      tous le monde à de bonne idées à apporter, et il faut tous les écouter pour trouver les meilleures solutions pour les projets. Souvent les chefs
      d'équipe expérimentés ont tendance à ne pas écouter les membres de l'équipe, surtout ceux qui sont moins compétents où on moins d'expérience, ce
      qui est une grave erreur, car c'est souvent dans les idées des membres de l'équipe que se trouvent les meilleures solutions pour les projets.
      Même si se n'est pas mon cas actuellement je reste vigilant en permanence à ne pas tomber dans ce piège à l'avenir, surtout quand j'aurais mon
      entreprise et que je serais amené à gérer une équipe de développeurs.
    </p>

    <h2 class="title-h2">Mon évolution dans cette compétence</h2>
    <p class="paragraph">
      Au vue de mon projet professionnel, qui est de créer mon entreprise de développement de logiciels, je serais amené à recruter et donc gérer une
      équipe de développeurs, ce qui rend le travail d'équipe une compétence obligatoire pour moi. Je pense que j'ai déjà une bonne base en travail
      d'équipe, mais je sais aussi que c'est une compétence qui peut toujours être améliorée. Je vais donc continuer à travailler sur cette compétence
      en m'entourant de personnes compétentes et en apprenant de leurs expériences pour devenir un meilleur chef d'équipe et un meilleur coéquipier.
    </p>

    <h2 class="title-h2">Liste des projets cités</h2>
    <ul class="list-disc list-inside">
      <li><a href="https://github.com/FloRobart/Maison_eau_dor"><b><u>Maison Eau d'Or</u></b></a></li>
      <li><a href="https://github.com/FloRobart/Generateur_plateau"><b><u>Générateur de plateau</u></b></a></li>
    </ul>
  </div>
</section>
