---
import MainLayout from '@layouts/MainLayout.astro';
import ExperiencesPreview from '@/components/experiences/Experiences_preview.astro';
import ExperiencesPreviewTitle from '@/components/experiences/Experiences_preview_title.astro';
---

<MainLayout>
  <section id="experiences" class="bg-white py-20">
    <div class="max-w-6xl mx-auto px-6">
      <ExperiencesPreviewTitle />
      <ExperiencesPreview />
    </div>
  </section>
</MainLayout>
