---
import MainLayout from "@layouts/MainLayout.astro";
import Welcome from "@/components/Welcome.astro";
import ProjetsPreview from "@/components/projets/Projets_preview.astro";
import About from "@/components/About.astro";
import ProjetsPreviewTitle from "@/components/projets/Projets_preview_title.astro";
import ExperiencesPreview from "@/components/experiences/Experiences_preview.astro";
import ExperiencesPreviewTitle from "@/components/experiences/Experiences_preview_title.astro";
import CompetencesPreview from "@/components/competences/Competences_preview.astro";
import CompetencesPreviewTitle from "@/components/competences/Competences_preview_title.astro";
import Button from "@/components/Button.astro";
---

<MainLayout>
  <Welcome buttonHref="/presentation" buttonText="MA PRÉSENTATION" nextSectionId="#about" />

  <About />

  <section id="projets" class="bg-white py-20">
    <div class="max-w-6xl mx-auto px-6">
      <ProjetsPreviewTitle />

      <ProjetsPreview />
    </div>

    <div class="flex justify-center mt-20">
      <Button href="https://florobart.fr" text="Voir plus de réalisations" size={24} />
    </div>
  </section>

  <section id="competences" class="bg-white py-20">
    <div class="max-w-6xl mx-auto px-6">
      <CompetencesPreviewTitle competencesType="soft" link={true} />
      <CompetencesPreview competencesType="soft" />

      <div class="h-20"></div>

      <CompetencesPreviewTitle competencesType="hard" link={true} />
      <CompetencesPreview competencesType="hard" />
    </div>
  </section>

  <section id="experiences" class="bg-white py-20">
    <div class="max-w-6xl mx-auto px-6">
      <ExperiencesPreviewTitle />
      <ExperiencesPreview />
    </div>
  </section>
</MainLayout>
