<style>
  .heading-sec_bar {
    display: block;
    height: 5px;
    width: 2rem;
    background: var(--color-primary);
    margin: 1rem auto;
    border-radius: 5px;
  }
</style>

<span class="heading-sec_bar" aria-hidden="true"></span>
