---
import "@styles/global.css";

import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Head from "@components/Head.astro";
import { ClientRouter } from "astro:transitions";


import { APP_NAME } from "astro:env/client";
interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<html>
  <head>
    <Head title={title || APP_NAME} />

	  <!-- START : Additional head content -->
	  <slot name="head" />
    <!-- END : Additional head content -->
  </head>

  <body class="m-0">
  <ClientRouter />
	<Header />

	<!-- Dynamique content -->
    <slot />

	<Footer />
  </body>
</html>
